[2019-02-26 10:38] smehringer opened #770 "Introduce internal namespace short-cut for std::ranges"
As discussed in the last strategy meeting we will introduce an alias within seqan3 for `std::ranges` called `sr`. @h-2 checked that introducing the alias will not clash with external namespaces.

This also resolves that we aliased some "frequently used ranges stuff" in our namespace which should be removed again (e.g. begin).

[2019-02-26 16:30] #745 closed

[2019-02-27 15:44] rrahn opened #776 "Replace common iterator type traits in favour of the iter_..._t version"
Currently we use value_t and reference_t type traits for iterators and ranges
However, the new C++ standard introduces special type traits for iterator classes, namely:
* iter_difference_t
* iter_value_t
* iter_reference_t
* iter_rvalue_reference_t
* iter_common_reference_t

The ranges library also deprecats the old type traits and forwards to the new type traits.

### Suggested changes
- [ ] Add

[2019-02-27 15:45] #769 closed

[2019-03-06 06:40] #661 closed

[2019-03-10 15:54] h-2 commented on #754
Operating systems including FreeBSD and macOS homebrew have upgraded to the new version and most do not offer any way to downgrade.

We really need someone to fix this before the retreat.

[2019-03-10 21:10] joergi-w opened #781 "Write a "Copyright and Citing" page for Doxygen."
It should explain how to cite SeqAn3 and how it can be redistributed.

Also add rules for the **snippets**. h-2's suggests to use:
[code]
(see discussion in #780)

[2019-03-11 08:37] rrahn commented on #754
But at least some issues (as far as I could review in a short time) seem to be buggy by doxygen.
For example defining two interfaces in one file and use `\relates` for both of them for different elements triggers `multiple instances of \relates \memberof` warnings.

[2019-03-11 09:52] eseiler commented on #754
I think the worst is https://github.com/doxygen/doxygen/commit/fe7e597a172fa08a075ac10bbefc572a785e4c0d

Apparently makes us need to documented all constructors...

[code]

[2019-03-11 10:45] eseiler commented on #754
From what I've seen, the `multiple instances of \relates \memberof` is usually that you defined a group, e.g. via `\name`  before. Then you don't need to (and starting with 1.8.15 are not allowed to) use another `relates` since it inherits it from the group.

And I don't see a way to circumvent documenting the rule of six everywhere....

We could add `DISTRIBUTE_GROUP_DOC   = YES` to the doxyfile

[2019-03-11 13:10] smehringer opened #786 "Add "How to add another cpp to your cmake file" to the setup tutorial"
We do not document how to proceed with the following tutorials after hello_world.cpp compiles and runs.
(http://docs.seqan.de/seqan/3.0.0-master-user/setup.html)
EDIT: maybe we should just alter the CMake script so it copmiles every cpp file in `source`

[2019-03-11 13:13] smehringer commented on #786
@marehr is this possible in a few lines of cmake code to compile every cpp file in the source directory?

[2019-03-11 13:52] marehr commented on #786
Not, really. I can add all of them when initializing with cmake, but then you would have to manually refresh (with `cmake .`) every time you add a .cpp file.

I think this is as confusing as to copy the section of a target  in the CmakeLists.txt every time you add a new cpp file.

[2019-03-11 14:11] h-2 opened #787 "small stuff in arg-parser"
When validation fails for an option without short/long name, don't print that.

[code]
→
[code]

Also, why does it say `Validation failed` twice?

[2019-03-11 14:19] h-2 commented on #787
[code]
→
[code]

[2019-03-12 08:23] smehringer opened #791 "Bug in view::take"
The following does not compile with our `view::take` but does compile with `ranges::view::take`:

[code]
Error message:
<summary><details>

[code]

</details></summary>

[2019-03-12 10:27] rrahn commented on #754
That is true. But, what I meant is that if I have two groups in the same file, also they are not related to one another doxygen will still emit the warning for the second group

[2019-03-15 20:43] smehringer commented on #754
This is a real problem in our current design. If we still want to add functions with relates to a concept we need to put all of those into the same file. I'll add this as a topic for the next strategy meeting

[2019-03-18 09:52] rrahn commented on #754
Maybe I expressed myself a little to complicated
The thing is, it seems that two relates in one file to different interfaces causes this error.
[code]
In my examination, but I didn't spent much time on it, it seemed that the second relates to conceptB triggers the doxygen warning, although it has nothing to do with the conceptA.

[2019-03-18 12:20] eseiler commented on #754
Mhm !

@rrahn is this the same situation?:

Let's use `concept_pre.hpp` as example:

https://github.com/seqan/seqan3/blob/c9bc1cc1c5a15e1dc4c1d749aa9b4c6149bbd42d/include/seqan3/alphabet/concept_pre.hpp#L141-L155

Line 152 will trigger the warning. (`found multiple \relates, \relatesalso or \memberof commands in a comment block, using last definition`).

But if I add my favourite C++ between Line

[2019-03-18 14:54] rrahn commented on #754
As terrible at it sounds. But yes this seems like it.

[2019-03-18 14:54] rrahn commented on #754
@eseiler nice job figuring this out.

[2019-03-19 16:14] h-2 opened #818 "view::single_pass_input claims to preserver OutputRange..."
... but doesn't.

[2019-03-20 13:33] #787 closed

[2019-03-20 16:45] h-2 commented on #730
We still have some open issues, many related to alignment code. @rrahn Can you have a look? I think GCC9 is scheduled for late april so we should really get these reported ASAP.

[2019-03-20 16:47] h-2 commented on #730
An alignment snippet is also ICEing on GCC8-nightlies:
http://cdash.seqan.de/viewBuildError.php?buildid=303901

[2019-03-21 08:38] rrahn commented on #730
Yes, I'll check this.

[2019-03-21 08:40] rrahn commented on #701
Done by #765

[2019-03-21 08:40] #701 closed

[2019-03-21 08:41] rrahn commented on #703
Done by #793

[2019-03-21 08:41] #703 closed

[2019-03-21 08:41] rrahn commented on #699
Done by #775

[2019-03-21 08:41] #699 closed

[2019-03-21 08:43] rrahn commented on #704
Done by #792 and #814

[2019-03-21 08:43] #704 closed

[2019-03-21 11:41] #768 closed

[2019-03-23 19:19] tloka opened #823 "parse_error when loading empty FASTA file"
Problem
---
Loading empty FASTA file using sequence_file_input causes:
[code]

For me this is unexpected behavior, since e.g. pipelines could be negatively affected by throwing an exception (imagine a pipeline giving FASTA as intermediate analysis result, this file being empty (no matches => expected behavior) leading to a crash of the complete pipeline).

Proposed Solution
---
I would rather cons

[2019-03-24 09:59] smehringer commented on #823
Good point! We did not think of workflows yet.

We will probably not even return empty fields. If you are trying to iterate over an empty file, `begin == end` so there is nothing to iterate over.

[2019-03-24 14:49] tloka commented on #532
Related to this, so I didn't open a new issue:
I think it would be nice to have a case insensitive option for file_ext_validator (e.g., having optional constructor argument `bool case_sensitive = true` that can be changed to false if required). Usually, a `.BAM` is similar to `.bam`.
Probably it would even be sufficient to have always case insensitivity, then an `std::transform` could be used with

[2019-03-25 14:46] joshuak94 opened #837 "[DOX] Remove "using namespace seqan3" in all snippets and make all snippets Copy'n'Pastable"
I think it'd be more helpful to new users if the tutorial were more consistent about using the seqan3 namespace. For example, the very first code snippet in the tutorial is:
[code]
Then, in code snippet a bit below it, ```seqan3::argument_parser``` is used. We should be consistent with prefacing everything with ```seqan3::``` so that it's clear which parts of the code are from seqan.

[2019-03-25 15:19] smehringer commented on #837
I agree and I think we should never use `using namespace seqan3;`

[2019-03-25 15:31] rrahn commented on #837
I think we should always use it.
Including the namespace is easy to do and makes many code examples so much easier to read.
If people start with SeqAn and learn about it they either just start with SeqAn (no other library except std) or they already worked with c++ and other libraries and are aware of the `using namespace` implications.
But we need to make sure, that all stand alone snippets then

[2019-03-25 15:43] eseiler commented on #837
I agree with @rrahn. It might be fine to use `seqan3::` for some of the tutorials, but later on it will not add to the comprehension. (configurations where all elements are prefixed with `seqan3::` are not really easy to read)

[2019-03-26 11:13] eseiler commented on #176
Do we want an integration into cdash or can we close this now since SDSL has CI (Travis+Jenkins)?

[2019-03-26 12:00] cpockrandt commented on #176
I think we should integrate the SDSL into cdash.

[2019-03-26 14:06] rrahn commented on #818
fixed by #826

[2019-03-26 14:06] #818 closed

[2019-03-26 21:35] #687 closed

[2019-03-26 21:35] smehringer commented on #687
Fixed by #756

[2019-03-27 09:43] h-2 commented on #791
Can you reproduce this with the current master?

[2019-03-27 10:07] #823 closed

[2019-03-27 11:36] eseiler commented on #698
Resolved by #806

[2019-03-27 11:36] #698 closed

[2019-03-27 11:36] eseiler commented on #702
Resolved by #758

[2019-03-27 11:36] #702 closed

[2019-03-27 12:09] smehringer commented on #791
@h-2 The error is still there

[2019-03-27 12:19] eseiler commented on #791
This will work for now (use `std::view::take`):

[code]

@h-2 already created an issue: https://github.com/ericniebler/range-v3/issues/1104

[2019-03-27 16:03] sarahet opened #854 "Export man pages does not work with "--export-help=man""
Works only with "--export-help man"

[2019-03-29 09:53] #786 closed

[2019-03-29 09:54] #740 closed

[2019-03-29 10:02] #506 closed

[2019-03-29 10:42] #791 closed

[2019-03-29 19:53] tloka opened #862 "--license to print copyright"
There are many tools printing the copyright/license information using `--license` instead of `--copyright`.
I think it would make sense to print the license information with either of both parameters (`--license` or `--copyright`).

[2019-03-30 12:31] smehringer commented on #862
I'm fine with adding this and it's only a one-liner in the initialisation function of the argument parser.
Can you make a PR for this? :)
(you probably did that but just in case: remember to add the `--licence` to the `used_options_ids`)

[2019-04-01 20:26] mariehoffmann opened #868 "Template deduction produces errors in `view_drop_view_take_benchmark.cpp`"
Can't compile successfully performance benchmarks. Stop at `view_drop_view_take_benchmark`. Deduction of `ranges::take_view::size()` in `v3/view/take.hpp` fails. [Complete terminal output here](https://gist.github.com/mariehoffmann/342875d79208e2796bed7326abf4f72c). Just merged with current master head (last commit dcf2eaab97249aff088d98ab537326f3f13b60d5).
[code]

[2019-04-01 22:32] h-2 commented on #868
Your submodules are not up to date (you should see this when running `git status`). Run `git submodule update --init` to update them.

[2019-04-01 22:59] mariehoffmann commented on #868
Hmm, this is my standard procedure, BUT this time I did the `fetch upstream` AFTER the update :/
All benchmark are compiling now.

[2019-04-01 22:59] #868 closed

[2019-04-01 23:50] h-2 commented on #837
We should also consider whether valid links to the api-documentation are generated from our code snippets...

[2019-04-02 09:27] h-2 commented on #744
@marehr is this resolved?

[2019-04-02 09:31] h-2 commented on #736
We agreed on my proposal and have #720

[2019-04-02 09:31] #736 closed

[2019-04-02 10:31] h-2 opened #869 "Final refactoring of alphabets"
These are the discussed changes and some smaller additions by me not yet discussed.
@seqan/core please have a look and give me objections ASAP since I want to start working on this very soon.

`seqan3::SemialphabetConcept`:
  * refines `std::StrictTotallyOrdered` (order required to respond to ranks)
  * refines `std::Copyable` and requires `std::is_trivially_copyable`
  * requirement for `std::Reg

[2019-04-02 12:06] eseiler commented on #869
In general I agree. I'm just wondering why we are dropping the std::Regular requirement. How will we adjust all the, e.g., unit tests where we require to default construct a alphabet?

[2019-04-02 16:43] h-2 commented on #869
We don't have to adapt our tests because our alphabets will still be Regular. We just don't require it.

The reason was, as discussed in escala, that default constructability is not required by interfaces that only consume alphabets and that it prevents references from modelling the concepts.

[2019-04-03 10:05] smehringer commented on #744
I remember that this was not a bug but simply a design issue of the benchmark together with marcels high-performance laptop :rocket: which read the whole file/stream within the execution time of the benchmark

[2019-04-03 10:21] smehringer commented on #869
Hm... didn't we have the function style guide for parameters `(out, in/out, in)`? the proposed changes to the free functions would be inconsistent with this..

[2019-04-03 10:35] h-2 commented on #869
No, that was SeqAn2-style. In SeqAn3 it's "natural order" and has been since day 1:
https://github.com/seqan/seqan3/wiki/Functions#function-argument-number-and-order

[2019-04-03 10:52] smehringer commented on #869
Then I'm fine with the changes

[2019-04-04 05:12] eseiler commented on #869
So we implicitly require it for our alphabets then.

Ok.

I agree.

[2019-04-05 09:07] h-2 opened #874 "arg parser broken again on c++20"
@smehringer With #840 you reverted my fixes from #708 and now the arg parser produces warnings again with c++20:
http://cdash.seqan.de/viewBuildError.php?onlydeltap&buildid=306570

[2019-04-05 10:51] smehringer commented on #874
sorry :see_no_evil:
I'll make a PR

[2019-04-05 16:05] h-2 opened #876 "aa10murphy"
Port the murphy10 alphabet from SeqAn2 which is a clustering of the amino acids into following groups:
[AOUX][BDENQZ][C][FWY*][G][H][IJLMV][KR][P][ST]

You can copy'n'paste from aa20 to implement this:
https://github.com/seqan/seqan3/blob/master/include/seqan3/alphabet/aminoacid/aa20.hpp

reference for the documentation:
L. R. Murphy, A. Wallqvist, and R. M. Levy. Simplified amino acid alphabets f

[2019-04-05 16:08] h-2 opened #877 "aa10li"
Same as #876 but with the following clustering:
[ASTX][BDEQZ][CU][FWY*][G][HN][IV][JLM][KOR][P]

Reference for the documentation:
T. Li, K. Fan, J. Wang, and W. Wang. Reduction of protein sequence complexity by
residue grouping. Protein Eng., 16(5):323–330, May 2003.

[2019-04-05 16:26] h-2 opened #878 "semialphabet_any"
The idea is to a have a semialphabet with fixed size that type-erases all other (semi)-alphabets of the that size; i.e. it is constructible from any other semialphabet of the same size and just copies the rank. It shall also be convertible to any other semialphabet of the same size (again just copying the rank).

The advantage is that we don't need to instantiate all of lambda twice, once for `aa1

[2019-04-08 09:40] rrahn opened #879 "adaptors for views saveable?"
allow:

[code]

1.5 weeks

Fixed by #864.

[2019-04-08 09:45] #879 closed

[2019-04-08 09:52] #761 closed

[2019-04-08 10:00] #342 closed

[2019-04-08 10:02] #330 closed

[2019-04-08 10:02] #329 closed

[2019-04-08 11:20] rrahn commented on #242
Fixed by #678

[2019-04-08 11:20] #242 closed

[2019-04-08 11:23] rrahn commented on #221
@h-2 is this resolved by the changes in #864?

[2019-04-08 11:23] rrahn commented on #219
@h-2 @sarahet what is the state of this?

[2019-04-08 11:24] rrahn commented on #180
@eseiler Is this done?

[2019-04-08 11:31] eseiler commented on #180
@rrahn Of course

[2019-04-08 11:31] #180 closed

[2019-04-08 11:33] rrahn commented on #264
@marehr maybe we can try again?

[2019-04-08 11:44] rrahn commented on #260
@eseiler @cpockrandt what is the status here?

[2019-04-08 11:48] rrahn commented on #159
I think this is outdated. We don't use this aliasing anymore but have instead imported everything into the std namespaces as will be available with c++20

[2019-04-08 11:48] #159 closed

[2019-04-08 14:17] smehringer opened #882 "DOXYGEN_ONLY_FU tag"
No more than one \relates within a single file... this is bad for our current design of relating stuff to concepts.

-> DOXYGEN_ONLY_FU tag

[2019-04-09 07:12] rrahn commented on #243
This is something fundamental we need do tackle before the release.

[2019-04-09 07:14] rrahn commented on #344
Closed as duplicate of #345

[2019-04-09 07:14] #344 closed

[2019-04-09 07:16] rrahn commented on #531
@marehr I don't think that we need to follow the standard yet with proposal. We can work with our interface but should keep track of the changes in the standard and maybe add the abi_tag interface for 3.1. as a separate interface. But otherwise I am afraid we are not gonna make it for the release.

[2019-04-09 07:17] rrahn commented on #107
@cpockrandt @h-2 Is there any chance we can get this before the release?

[2019-04-09 07:20] rrahn commented on #111
@sarahet @h-2 is this doable for the release?

[2019-04-09 07:21] rrahn commented on #257
@h-2 what's the state?

[2019-04-09 07:23] rrahn commented on #423
The configuration is now part of the public API, so it can be documented properly.

[2019-04-09 07:23] #423 closed

[2019-04-09 07:41] rrahn commented on #450
If somone is willing to do this please, but this has absolutely no priority right now.

[2019-04-09 07:46] rrahn commented on #491
@dombrowsky If the program is called without any arguments it prints the synopsis/help of the tool. I think this is the expected behavior. If you think that there are valid reasons not to then please reopen this issue.

[2019-04-09 07:46] #491 closed

[2019-04-09 07:52] rrahn commented on #520
@smehringer @h-2 @MitraDarja what is the state here? Can you make a list of modules already done/need refactorisation? This needs to be finished before the release.

[2019-04-09 08:01] rrahn commented on #568
@marehr is this done?

[2019-04-09 08:02] rrahn commented on #638
I guess this is done by now? Please reopen if there are still missing things, but then also address them asap.

[2019-04-09 08:02] #638 closed

[2019-04-09 08:03] rrahn commented on #673
@h-2 is this still relevant? Will you address this with your outstanding refactorisation tasks?

[2019-04-09 08:04] rrahn commented on #679
@smehringer @h-2 can this be closed?

[2019-04-09 08:05] rrahn commented on #692
This is in general done. I will make a new card for the caching, since it won't be done before the release.

[2019-04-09 08:05] #692 closed

[2019-04-09 08:06] rrahn commented on #713
@h-2 something you are going to work on before the release?

[2019-04-09 08:10] rrahn commented on #744
@marehr ping

[2019-04-09 08:11] rrahn commented on #764
@smehringer what is the state here?

[2019-04-09 08:12] rrahn commented on #770
I think we finally voted against it. I close it but if you think this was not resolved then please reopen.

[2019-04-09 08:12] #770 closed

[2019-04-09 08:16] rrahn commented on #781
We would in general need links to the seqan website and the github repo etc. on the documentation.

[2019-04-09 08:56] rrahn commented on #869
looks good to me.

[2019-04-09 09:26] rrahn commented on #878
@h-2 This is very cool but also very limited. I am wondering if this should be part of the library then or not something that is only relevant to lambda? I mean I cannot type-erase dna4, dna5 or aa27 with this. It would be cool if internally all alphabets until a maximum size of 256 could be represented and it provides internal variables for the assigned size etc.. But I think this won't work unle

[2019-04-09 11:53] eseiler opened #886 "kmer_index"
Implement a `kmer_index` via an `unordered_map`.

[2019-04-09 12:01] marehr commented on #568
No! This needs a new infrastructure. I updated the description to make clear what has to be done.

[2019-04-10 08:30] rrahn opened #887 "Add cigar alphabet"
We want an explicit cigar alphabet that can represent an alignment as a vector over a cigar alphabet.

[2019-04-10 08:51] rrahn opened #888 "The alignment code does not uses gap decprator yet."
Currently the alignment code produces a new vector with gapped alphabet. It should instead return a gap decorator where only the gaps are stored.

[2019-04-10 08:51] smehringer commented on #764
I just filed the bug. I"m not trying to fix it.
@eseiler didn't you take a look at this?

[2019-04-10 08:53] rrahn opened #889 "Add vecotisation for simple scores to the alignment module"
Implement a vectorised alignment kernel with the inter-simd scheme.

[2019-04-10 08:55] rrahn opened #890 "Implement the banded myers"

[2019-04-10 08:56] rrahn opened #891 "Implement Ukkonen-Trick for Myers bitvector algorithm"

[2019-04-10 08:56] rrahn opened #892 "Add valid_file_extensions function to alignment file and structured files. (see sequence_file)"

[2019-04-10 11:24] eseiler commented on #764
@smehringer I think it was the #679 thing?

[2019-04-10 15:03] joshuak94 commented on #887
I haven't started the actual CIGAR vector alphabet. Should this model a cartesian composition for the CIGAR base alphabet and an integer?

[2019-04-11 08:31] h-2 commented on #878
I have a plan for a different `alphabet_any<char_type>` that type erases through the char type (and has an alphabet size of the size of the char type). Does that address your concerns?

I am not convinced we should drop the fixed size, a lot of stuff depends on it: bitcompression, conversion tables, scoring matrixes and so on. We wouldn't even be able to pre-select types for our alphabet rank type

[2019-04-11 08:38] h-2 commented on #713
Not a blocker but I will try to find time for it.

[2019-04-11 08:39] h-2 commented on #679
I am not sure, will have a look.

[2019-04-11 09:25] h-2 opened #893 "UBSan failure in format_sam"
http://cdash.seqan.de/viewBuildError.php?buildid=306756

[2019-04-11 09:26] h-2 opened #894 "Problem in printing variant with gcc9"
http://cdash.seqan.de/viewTest.php?onlyfailed&buildid=306900

[2019-04-11 09:38] rrahn commented on #878
This is what I meant.

Yes, I see this as well as a problem. But somewhat the char based erasure would be kind the thing that makes it more generic.

[2019-04-11 12:01] h-2 opened #895 "views need extra documentation entry for header"
Since adaptors don't get their own documentation, the views don't have an entry for which header file provides them. This confused people on the retreat.

[2019-04-11 12:03] h-2 commented on #257
First point still open.

[2019-04-11 12:04] h-2 commented on #111
It would be good. The view is also still in the old format, i.e. with shared pointer.

[2019-04-11 12:09] h-2 commented on #107
The warning levels of dependencies are unimportant for us now, because we include them via `-isystem`.

I am **very much** in favour of activating `-Wconversion`.

[2019-04-11 12:10] h-2 opened #896 "`-Wconversion`"
Needs to be activated everywhere.

[2019-04-11 12:11] h-2 commented on #107
superseded by #896

[2019-04-11 12:11] #107 closed

[2019-04-11 12:34] h-2 commented on #260
All things discussed here are done, I think, but we have started a new discussion on the indexes...

[2019-04-11 12:34] #260 closed

[2019-04-11 12:34] h-2 commented on #221
yes

[2019-04-11 12:34] #221 closed

[2019-04-11 12:35] h-2 commented on #837
We should discuss it at the next strategy meeting

[2019-04-11 12:35] h-2 commented on #854
@smehringer will be solved by #875, right?

[2019-04-11 12:42] h-2 commented on #723
This is also related to #857

[2019-04-11 12:43] h-2 commented on #723
Can you make a fix, @eseiler ? Either make OS specific checks or a wildcard somehow at the position.

[2019-04-11 12:45] h-2 commented on #776
let's discuss at the next strategy meeting

[2019-04-11 12:45] h-2 commented on #536
all fixed now

[2019-04-11 12:45] #536 closed

[2019-04-11 13:02] MitraDarja commented on #520
@rrahn I will work on this again, when I am done with fixing doxygen warnings due to missing default comments.

Done:
aminoacid_concept -> AminoacidAlphabet
nucleotide_concept -> NucleotideAlphabet
quality_concept -> QualityAlphabet
semi_constexpr_alphabet_concept -> SemiConstexprAlphabet
constexpr_semi_alphabet_concept -> ConstexprSemialphabet
constexpr_alphabet_concept -> ConstexprAlphabet
semi_

[2019-04-11 13:09] h-2 commented on #264
yes please :pray:

[2019-04-11 13:11] h-2 commented on #649
I have given up on this. I think we need to evaluate whether we need meta at all, and if yes, copy it to contrib.

[2019-04-11 13:30] h-2 opened #898 "Index / search re-design"
These points are based on our discussions:

* make the indexes *not* be templates over text/alphabet
* store some run-time information in the index to prevent misuse:
  * dimension of text
  * size of alphabet
  * possibly a char-rank conversion table generated from alphabet
* indexes will be easier to (de)serialise
* `search(queries, index, cfg)`
  * static asserts against certain configs that ne

[2019-04-11 13:33] h-2 commented on #471
I have removed all points that were marked as fixed.

would work in some cases if #898 is adapted.

I agree, I also propose this in #898.

[2019-04-11 13:38] h-2 commented on #744
fixed by #732.

[2019-04-11 13:38] #744 closed

[2019-04-11 13:39] h-2 commented on #730
Can you link to all open GCC bug reports here?

[2019-04-11 13:40] h-2 commented on #720
I will work on this as soon as the gap_decorator provides the discussed interface (`.begin_ra` and `.end_ra`).

[2019-04-11 13:41] h-2 commented on #510
Can you clean this up in time for the release?

[2019-04-11 13:42] h-2 commented on #198
@smehringer can you include this in your work on constexpr_vector ?

[2019-04-11 13:43] h-2 commented on #249
related to #257

[2019-04-11 17:00] rrahn commented on #730
- [ ] https://gcc.gnu.org/bugzilla/show_bug.cgi?id=90003
- [ ] https://gcc.gnu.org/bugzilla/show_bug.cgi?id=89953

[2019-04-11 17:03] rrahn commented on #649
At least we need to go over all references to the meta library, see if we really need it or if we can provide it on our own. For the release we should not depend on the ranges/meta library anymore.

[2019-04-11 17:27] smehringer commented on #764
I"m not sure but did you fix either of them?

[2019-04-11 21:55] eseiler commented on #764
@smehringer No

[2019-04-12 07:18] smehringer commented on #854
yes

[2019-04-12 07:20] smehringer commented on #898
we don't label stuff with epic?

[2019-04-12 07:26] smehringer commented on #720
is this planned for the release?

[2019-04-12 09:50] rrahn commented on #720
It is not planned since it is not a crucial feature that needs to be there for the release.

[2019-04-12 10:15] rrahn commented on #898
Yeah it was done automatically. I removed the label and hope that it won't get added automatically again in the future

[2019-04-12 12:03] #894 closed

[2019-04-12 12:48] marehr opened #905 "Provide debug_stream for a custom type without pulling the complete library in."
We decided on the following design:

[code]

debug_stream_detail.hpp:
* `include <iosfwd>`
* debug_stream definition, no overloads

foobar.hpp:
* `include <debug_stream_detail.hpp>`
* overload of `operator<<(debug_stream_type, foobar const &)`

debug_stream.hpp
* `include <iostream>`
* `include <debug_stream_detail.hpp>`
* overloads of stuff that doesn't have own files, like built-in types, ranges

[2019-04-15 08:46] smehringer commented on #587
Resolved by #632

[2019-04-15 08:46] #587 closed

[2019-04-15 08:47] smehringer commented on #588
Resolved by #587

[2019-04-15 08:47] #588 closed

[2019-04-15 09:00] smehringer commented on #837
We decided on the following:

The API dox will *never* have using namespace.
The beginner tutorials are allowed to have `using namespace seqan3;` for simplicity but we should add a note box in the beginnning that this is not recommended for app development etc but only done for simplicity.
The How to will also never have using namespace.

[2019-04-15 09:26] smehringer opened #914 "Remove associated types from view classes and files classes"
All iterators shall still expose associated types but views should anyway always delegate to the iterator types

[2019-04-15 09:33] smehringer opened #915 "move form implicit conversion to ranges::to"

[2019-04-15 09:58] cpockrandt commented on #898
Notes from meeting:

* `cur.path_label([text])` performs LF-mappings to retrieve the searched sequence if no text is supported.
* store information in index: collection, semi_alphabet, alphabet_size (check always in search interface), alph_table (check only in debug mode)

[2019-04-15 10:11] smehringer opened #916 "`[ci skip]` for jenkins."
It works natively in travis but would need a plugin for jenkins.

[2019-04-15 14:33] #874 closed

[2019-04-15 14:33] #854 closed

[2019-04-15 19:26] joshuak94 commented on #837
Cool! When you say

Does this include snippets?

[2019-04-16 08:45] rrahn commented on #916
I put it on Ice for now. Not sure if we manage to do it before the release.

[2019-04-16 13:30] smehringer commented on #837
Yes

[2019-04-16 15:23] joshuak94 commented on #837
Sounds good! Sounds like a pull request should be made fixing all of the snippets then... Should I get started on that?

[2019-04-16 20:55] h-2 commented on #837
Wow, this is horrible, I never thought about that :open_mouth:

[2019-04-17 05:56] smehringer commented on #837
That would be great :)
Best make small PR's (maybe per module) so they don't take too long to be merged.

[2019-04-17 09:41] h-2 commented on #837
If you do start working on this, also make the snippets full text, i.e. include main function and includes so the snippet is fully copy'n'pastable.

[2019-04-18 09:48] marehr commented on #905
We discussed this in the dev meeting.

We will introduce a `seqan3::to_string` implementation, which can be overloaded for seqan3 types that should be printed in a special way. This will decouple the overload for debug_stream from a seqan3 type and we don't need to pull in debug_stream.

How it should work then:

[code]

This will be provided
[code]

[2019-04-18 10:17] smehringer commented on #905
wait before you work on this! @h-2 had some thoughts why this may not work

[2019-04-18 11:58] h-2 commented on #905
Yes, we need to consider that we explicitly added our own format flags to the stream. They can switch between utf8 and ASCII and the can make [u]int8_t printable as numbers. We loose this ability if everything is converted to string before going to the debug_stream.

[2019-04-18 12:01] #893 closed

[2019-04-23 13:39] h-2 opened #930 "wuss51 literal appears in all alphabets' doc"
![image](https://user-images.githubusercontent.com/2996863/56585359-3269b400-65cd-11e9-8eb6-3cf512d06ae8.png)

[2019-04-24 12:57] h-2 commented on #876
implemented via #908

[2019-04-24 12:57] #876 closed

[2019-04-25 14:01] #714 closed

[2019-04-26 11:46] joshuak94 commented on #837
Wait. If we want to make the snippets copy & pastable, how does this work for snippet files which include multiple snippets inside them? Example:

[code]

[2019-04-27 11:10] h-2 commented on #781
resolved by #928

[2019-04-27 11:10] #781 closed

[2019-04-29 09:30] smehringer opened #941 "All views shall have explicit constructors"

[2019-04-29 13:55] #930 closed

[2019-04-30 15:00] marehr commented on #300
Is this done?

[2019-05-03 11:14] joergi-w commented on #321
Implemented with PR #832.

[2019-05-03 11:14] #321 closed

[2019-05-03 20:58] #887 closed

[2019-05-07 06:37] smehringer opened #950 "[BUG] in view_take_until_and_consume"
If you add the following test to `take_line` it fails:
[code]

The problem is, that the iterator does not consume upon comparison, only upon incrementing which lets an input stream with take_line run into an infinite loop when the very first character is a character that evaluates `fun` to `true`.

I swa no elegant solution at first glance.

[2019-05-07 08:46] sarahet commented on #877
implemented via seqan/seqan3#940

[2019-05-07 08:47] #877 closed

[2019-05-08 09:43] h-2 opened #956 "Argument Parser version check"
It would likely be good if someone knowledgeable of the law analyses this, but I think if we do the following we should be *rather* safe:

1. change the server side to not store the IP-addresses, but instead immediately resolve whatever we want to store (GeoIP look-up). This really needs to change!
2. explicitly ask for confirmation upon starting the application (before invoking the thread). This

[2019-05-09 05:54] smehringer commented on #956
I agree but this involves setting up our own server to have more control over it (right now the version calls go to Tuebingen) and I am not gonna do it. So who will? And do we need that before the release?

[2019-05-09 11:11] smehringer commented on #950
@h-2 do you have time to take a look? I already found the bug I just don't know what's the best way to fix this (I would probably just add another if clause in the comparison operator but this would be inefficient.. Maybe on construction of the iterator?)

[2019-05-13 07:40] rrahn commented on #950
I would do it in the construction of the iterator. If fun evaluates to true, it should consume until fun is not true anymore and set the at_end_gracefully.

[2019-05-13 14:14] smehringer opened #968 "make take_exactly on pure intput ranges shrink in size"

[2019-05-13 14:17] h-2 commented on #754
see https://github.com/doxygen/doxygen/issues/6765

[2019-05-13 14:26] smehringer opened #969 "Change Type trait concept in file io to static asserts"
The comile time did not drop as expected when changing this fr sequence file input but we wanted to follow the style to only use concepts in overload resolution not type checking

[2019-05-13 14:49] h-2 commented on #905
Ok, so we decided on the following design:

[code]

[2019-05-13 18:29] marehr commented on #969
Can you give some examples what was now and how it should be?

[2019-05-14 08:03] smehringer commented on #969
Now:

[code]

Todo:
[code]

[2019-05-15 12:30] #950 closed

[2019-05-18 14:07] h-2 commented on #754
The namespace problem has been fixed upstream. Let's see if they are also willing to publish a new release before next December.

[2019-05-20 13:25] rrahn opened #988 "We have std::ranges::ostream_iterator etc imported into std/ranges. But I couldn't find any reference that they will be added with c++20."
In this case we need to remove them and implement them in SeqAn.

Port the ostream iterator to seqan3/io/stream. Alias the std::ostream if ranges feature test macro is set otherwise forward to ranges::ostream_iterator.

[2019-05-20 14:05] eseiler commented on #898
[code]

[2019-05-20 14:07] h-2 commented on #905
Ok, new plan:

[code]

debug_stream_detail.hpp:
* include <iosfwd>
* debug_stream definition, no overloads

foobar.hpp:
* include <debug_stream_detail.hpp>
* overload of `operator<<(debug_stream_type, foobar const &)`

debug_stream.hpp
* include <iostream>
* include <debug_stream_detail.hpp>
* overloads of stuff that doesn't have own files, like built-in types, ranges

[2019-05-20 14:11] rrahn commented on #895
Add `\headerfile` in documentation of view definitions, as they are not shown correctly by doxygen.
@MitraDarja Can you work on this. You can come to me if you have questions for this.

[2019-05-20 14:20] rrahn commented on #892
Make it a detail function.
And adapt the input file and output file to take a file type.

[2019-05-20 14:32] rrahn commented on #888
@joergi-w can you look at this? You can come to me to discuss the details

[2019-05-20 14:33] #882 closed

[2019-05-20 14:42] #706 closed

[2019-05-20 14:46] #673 closed

[2019-05-20 14:51] rrahn commented on #481
Should be better use error codes. We need to look at it after the release.

[2019-05-20 14:54] #300 closed

[2019-05-20 14:55] #268 closed

[2019-05-20 14:56] #257 closed

[2019-05-20 15:02] h-2 commented on #219
@sarahet Can we briefly evaluate this tomorrow and close it if we are not pursuing this approach?

[2019-05-20 15:03] #215 closed

[2019-05-20 15:03] #198 closed

[2019-05-20 15:04] #182 closed

[2019-05-20 15:06] #176 closed

[2019-05-20 15:07] h-2 commented on #111
@sarahet Let's have a look at this tomorrow, too!

[2019-05-20 15:21] h-2 opened #992 "Documentation for release"
- [ ] Contributor guide (doxygen)
- [ ] customisation points (doxygen)
- [ ] Reviewer guide (wiki)
- [ ]  Code-of-conduct (berlin code of conduct)
- [ ] update README
- [ ] landing page (doxygen)
- [ ]  how to read the documentation (doxygen)

[2019-05-20 15:30] h-2 commented on #992
Change SeqAn3 → SeqAn everywhere

[2019-05-20 15:56] rrahn opened #995 "Remove the gap_scheme_concept."
This concept is misleading, as in the current form does not allow for a user customisation without providing the necessary getter functions for the alignment kernel. In addition for the vectorisation we need to know the types so we know how we can efficiently model this in the vectorised kernel.

[2019-05-20 16:05] rrahn opened #996 "Add bgzf istream and ostream"

[2019-05-20 21:50] h-2 opened #999 "Remaining Alphabet TODOs"
The following things still need to be done:

  1. `NucleotideAlphabet`:
    * make  `complement()` be a customisation point object
  2. `QualityAlphabet`:
    * split into `QualityAlphabet` and `WritableQualityAlphabet`
    * make `assign_phred_to` and `to_phred` be customisation point objects
  3. `RnaStructureAlphabet`
    * make the global functions customisation point objects

At the end of th

[2019-05-21 07:32] sarahet commented on #219
yep

[2019-05-21 22:48] h-2 opened #1007 "Remove Lemon until we need it"
I would propose we remove the lemon submodule for the release as nothing is using it yet. We can later re-add as soon something uses it.

[2019-05-22 08:44] rrahn opened #1008 "Travis g++-8 is broken due to linker errors against filesystem library"
Currently our travis builds with g++-8 are failing due to linker errors.
The linker can't find the symbols for filesystem anymore.
Compiler version `g++-8 (Ubuntu 8.1.0-5ubuntu1~16.04) 8.1.0`

Not sure if an update to the ppa toolchain broke somehing here.

@marehr @h-2 do you have suggestions?

[2019-05-22 09:05] h-2 commented on #1008
I don't think it's related to anything that we've done, let's wait for now...

[2019-05-22 09:13] #988 closed

[2019-05-22 09:32] eseiler commented on #1008
It's weird, gcc and cmake versions are the same as before, but our cmake script now detects `<filesystem>` as builtin (which would require that it compiles and links without using any `-l` stuff) instead of detecting the `-lstdc++fs` need.
AFAIK it is only builtin beginning with gcc-9

[2019-05-22 12:34] rrahn opened #1010 "Model header include for variables as a Doxygen Macro"
Currently we use this snippet to document the include header for the view variable definitions.

https://github.com/seqan/seqan3/blob/cfea39c4248adeef490b491778231dc32c654507/include/seqan3/range/views/convert.hpp#L33-L36

However, this seems to be a problem for all typedefs and vairable definitions in the library.
I am wondering if we can add a  macro that generates this. Maybe even a functional

[2019-05-23 10:23] rrahn commented on #1008
So it is broken then by the package. If it is  changed until Monday, we should hack it in the CMake to still use `-lstdc++fs` for gcc8

[2019-05-23 11:07] #968 closed

[2019-05-23 14:25] joergi-w commented on #999
Yes, I started today and finished task 1.
The `NucleotideAlphabet` requires `WritableAlphabet` and not just `Alphabet`, right?

[2019-05-23 22:31] marehr commented on #1008
@eseiler Thank you for investigating. I created a (possible) fix #1015.

[2019-05-24 07:05] sarahet commented on #878
Implemented by #981

[2019-05-24 07:05] #878 closed

[2019-05-24 09:33] h-2 commented on #1008
fixed by #1015

[2019-05-24 09:33] #1008 closed

[2019-05-24 09:35] h-2 commented on #999
No, the NucleotideAlphabet only adds a function that is read-only and does not depend on any of the assign_ functions so it only refines `Alphabet`.

For Quality we have a Writable concept and a regular one, they each refine also the regular and the Writable base concepts.

[2019-05-27 06:47] eseiler commented on #723
Fixed by #1014

[2019-05-27 06:47] #723 closed

[2019-05-27 09:32] h-2 commented on #730
We now have workarounds for everything.

[2019-05-27 09:32] #730 closed

[2019-05-27 09:45] h-2 opened #1020 "Doxygen Module Landing Page: I/O"

[2019-05-27 09:46] h-2 opened #1021 "Doxygen Module Landing Page: Alignment"

[2019-05-28 12:17] MitraDarja opened #1027 "To Do in Documentation"
- [x] A short sentence to describe what Configuration does on the Alignment overview in API references (modules)
- [x] Write detailed landing page for alignment
- [x] Write detailed landing page. for band in alignment (seqan/seqan3#1956)
- [x] banded section in Alignment configuration
- [x] Write detailed landing page. for matrix in alignment. (https://github.com/seqan/seqan3/issues/1957)
- [x] Do

[2019-05-28 17:22] #996 closed

[2019-05-29 15:27] marehr commented on #1027
[code]
Make a link to Copyright and Citing.

[2019-05-29 15:51] joergi-w commented on #999
This is solved with PR #1024.

[2019-05-29 15:51] #999 closed

[2019-05-31 10:20] #915 closed

[2019-05-31 16:11] h-2 commented on #1007
it's gone

[2019-05-31 16:11] #1007 closed

[2019-06-03 10:15] #520 closed

[2019-06-03 13:13] marehr opened #1038 "io/stream_input_benchmark throws in debug mode"
[code]

[2019-06-03 14:14] rrahn commented on #1038
Yep, I know this. I have a almost ready fix for this.

[2019-06-05 11:42] marehr commented on #425
History always repeats itself and there is a newer issue #837 with a more active discussion. We can reopen this if it is not superseded by #837.

[2019-06-05 11:42] #425 closed

[2019-06-05 14:24] h-2 opened #1049 "Move char operation to core. checking if one char is another should go to char operations."

[2019-06-05 15:37] #748 closed

[2019-06-05 17:17] rrahn commented on #895
fixed by #1004

[2019-06-05 17:17] #895 closed

[2019-06-05 17:18] rrahn commented on #869
is this done?

[2019-06-05 18:04] h-2 opened #1053 "Document status of std module"

[2019-06-05 18:05] h-2 opened #1054 "rename structure_file_in → structure_file_input"
also for output

[2019-06-05 18:06] h-2 commented on #1054
Can you make a PR for this,  @joergi-w ?

I don't think files need to be renamed, they have the correct name already, but for some reasons the structs were not renamed.

[2019-06-05 18:11] joergi-w commented on #1054
Sure!

[2019-06-05 18:22] marehr opened #1056 "coding style"
search and replace

[code]

[code]

[2019-06-05 19:24] #956 closed

[2019-06-05 19:25] smehringer commented on #956
Resolved by #955

[2019-06-05 19:27] #189 closed

[2019-06-05 19:30] joergi-w commented on #1054
PR #1057 solves this.

[2019-06-05 19:48] h-2 commented on #869
Yep

[2019-06-05 19:48] #869 closed

[2019-06-05 20:10] #264 closed

[2019-06-05 20:23] #1049 closed

[2019-06-05 22:21] #1054 closed

[2019-06-05 22:59] joergi-w opened #1062 "front_coordinate for semi-global edit distance is wrong"
I just spotted that the front coordinate is wrong. If it is supposed to be 0 is is right, but otherwise it is 1 too small. Even in the tests.

I'll create a PR for that so it can be fixed for the release.

[2019-06-05 23:00] h-2 commented on #1027
http://docs.seqan.de/seqan/3-master-user/todo.html

[2019-06-06 05:47] #243 closed

[2019-06-06 07:45] rrahn opened #1067 "Version Check broke Jenkins Builds"
#955 broke our jenkins builds

see http://cdash.seqan.de/viewTest.php?onlyfailed&buildid=316240

[code]

[2019-06-06 07:54] smehringer commented on #1067
The link is not valid?

Hm those are strange errors..
Do you know if Jenkins allows to query http requests within our test frame work?

[2019-06-06 07:58] eseiler commented on #1067
If we're running the tests in parallel (from what I've read in the config, we do), then running release+debug test in parallel breaks the test (because of the ENV stuff?). At least I had this problem locally.

[2019-06-06 08:22] #281 closed

[2019-06-06 08:25] #1062 closed

[2019-06-06 10:24] #898 closed

[2019-06-06 10:32] #995 closed

[2019-06-06 10:44] h-2 commented on #1020
done

[2019-06-06 10:44] #1020 closed

[2019-06-06 12:31] #888 closed

[2019-06-06 14:33] #510 closed

[2019-06-06 14:33] #891 closed

[2019-06-06 18:05] rrahn opened #1078 "the gzip and bgzf ostream do not override flush but should"
It seems that gzip ostream and accordingly bgzf ostream do not override flush but are supposed to in order to call the special zflush method.

[2019-06-06 18:17] rrahn commented on #1078
Apparently there is a `zflush` function that should be used instead.

[2019-06-07 05:36] mariehoffmann opened #1080 "Gap Decorator with bulk insertion of gaps and/or a read-only decorator"
I propose to provide a bulk-insertion feature (given all gaps at start, insert them at once) which can be implemented much more efficiently, since only a constant number of random access operations needs to be done and then the internal state pointers on the gap structure are used to insert the preceding or succeeding gaps.
Additionally, a read-only decorator could be provided for bulk insertion a

[2019-06-07 06:26] rrahn commented on #1067
Not completely fixed yet.

[2019-06-07 06:34] rrahn opened #1081 "Investigate dead lock of dynamic buffer queue on linux"
An empty dynamic buffer queue seems to dead lock if too many readers are acquiring the shared lock. From some first investigations it seems that the producer thread acquiring the unique lock for the shared mutex is never locking because there are always consumer threads in the shared lock.

Things to further investigate:
 * Is the shared mutex in the standard implementation starvation free?
 * Are

[2019-06-10 20:31] marehr commented on #1021
@rrahn done?

[2019-06-11 08:22] rrahn commented on #1021
Fixed by #1059

[2019-06-11 08:22] #1021 closed

[2019-06-11 09:32] #1053 closed

[2019-06-11 09:40] rrahn commented on #705
@smehringer is this done? Or do you want to add something to the tutorial? Then can you please make a list of things to do?

[2019-06-11 09:42] rrahn commented on #837
@joshuak94 we still need this. can you give an estimate whether or not you can work on this in June?

[2019-06-11 14:23] h-2 opened #1087 "config system broken on GCC10"
@rrahn Can you have a look at this or find someone else who can? I know GCC10 still has a while before release, but learning from the last release, we should try to report regressions quickly, I think.

(see CDash where we have GCC10 nightly builds now)

[2019-06-11 14:30] smehringer commented on #705
Resolved by #808

[2019-06-11 14:30] #705 closed

[2019-06-11 15:16] #1067 closed

[2019-06-11 18:08] joshuak94 commented on #837
I can work on it!

[2019-06-11 19:07] rrahn commented on #1087
I have seen this already. I see that I include it for the future milestones.

[2019-06-11 19:14] rrahn commented on #407
What is the state for this? Is there a test for this? And is the current outcome a problem or wrong?

[2019-06-11 19:17] rrahn opened #1088 "Infra: Enable Mac CI builds"
Update the Jenkins pipeline to run CI and nightly builds on OSX

[2019-06-11 19:22] rrahn commented on #135
Is this still open?

[2019-06-11 19:25] rrahn commented on #166
I can work on this, on the next sprint (July) But I guess I can do it for 3.0.1

[2019-06-11 19:29] rrahn commented on #715
Is this still active?

[2019-06-11 19:31] rrahn commented on #764
@smehringer can you verify if this is still an issue?

[2019-06-11 19:32] rrahn commented on #679
@h-2 what is the state?

[2019-06-11 19:32] rrahn commented on #713
@h-2 what is the state?

[2019-06-11 19:34] rrahn commented on #941
@smehringer @h-2 have we addressed this in the current release?

[2019-06-12 10:59] joshuak94 commented on #837
@rrahn My question above was never answered, though. @h-2 said the whole thing should be copy'n'pastable, so the snippet should contain the include statements and the main function. What about snippet files containing two or more snippets? Should those snippets all get their own file, such that there is always one file per snippet code?

[2019-06-12 11:17] rrahn opened #1089 "OSX build with gcc-8 on sierra and high-sierra segfaults"
3 alignment tests on macos running with gcc-8 cause segfault.

[code]

Neither address nor undefined sanitizer gave any information. In fact the tests run successfully if they are enabled (also in release). If debug mode is enabled or RelWithDebugInfo the tests run through as well. g++-7 and g++-9 are fine as well. Possible UB? Maybe while follwing the traceback pointers? Compiler issue?

### test

[2019-06-13 07:10] rrahn opened #1091 "version check server request timeout to long"
The version checker uses default timeouts for wget curl or ftp, which leads to test timeouts if the server is not reachable. One could adapt the test to set a time limit on the future to wait for the result but in general I think the regular version check should not take longer than 10s. This also prevents the rare case that there is a thread consuming processor resources for 15 minutes or longer.

[2019-06-13 08:53] smehringer commented on #166
I think this has no priority though :)

[2019-06-13 13:16] h-2 commented on #1027
What is the state here? Lot's of it got fixed for the release, did someone keep track?

[2019-06-13 13:20] smehringer commented on #1027
I checked off the ones I did :white_check_mark:

[2019-06-13 13:28] smehringer commented on #941
I think nothing has been done in this context and we did not decided if this should be done for the next release

[2019-06-14 07:36] rrahn commented on #1088
Fixed by #1035

[2019-06-14 07:36] #1088 closed

[2019-06-14 09:20] marehr opened #1095 "settle minimal required cmake version for our tests"
I just found out that we need to require
* `seqan3-config.cmake` min  cmake 3.4, otherwise cmake errors with `try_compile() works only for enabled languages.  Currently these are:    CXX`
* test/coverage needs min 3.4
* test/documentation needs min 3.7
  * 3.5:
[code]
  * 3.6:
[code]
* test/header needs min. 3.5.1 (because of test/performance and a different reason); if SEQAN3_FULL_HEADER_TEST=YES

[2019-06-14 09:49] joergi-w opened #1096 "Build errors on Ubuntu 19.04 (GNU/Linux 5.2.0-rc4+ ppc64le)"
On the machine specified above I found the following build error types:

- `WARN_X86_INTRINSICS`: `#error "Please read comment above.`
- `-Wnarrowing`: narrowing conversions from ‘char’ to ‘signed char’ with `magic_header` (compressed streams)
- `-Wnarrowing`: narrowing conversions from ‘int’ to ‘char’ with `small_string`

Attached there is the log file of the Release build.

[build_release_log.tx

[2019-06-14 09:55] joergi-w commented on #1096
Additionally, there is exactly one failing test (from the ones that could be built):
[code]

[2019-06-14 12:06] rrahn commented on #325
Converted to project card

[2019-06-14 12:06] #325 closed

[2019-06-14 12:07] rrahn commented on #324
Converted to card on project board

[2019-06-14 12:07] #324 closed

[2019-06-14 12:08] rrahn commented on #340
Converted to project card

[2019-06-14 12:08] #340 closed

[2019-06-14 12:33] rrahn opened #1098 "Async file I/O"
Implement asynchronous file I/O to read/write data to a resource in a separate thread.

[2019-06-16 20:18] rrahn opened #1099 "Suffix Array Construction in SDSL using lambda functions."
Let SDSL take any range on numeric elements for index construction, not only int_vector or C arrays.
(Reduce memory peak for index construction)
https://github.com/xxsds/sdsl-lite/issues/27

[2019-06-17 08:45] #1038 closed

[2019-06-17 08:45] #1078 closed

[2019-06-17 11:16] mariehoffmann commented on #1080
Candidate using bit vector for gap indication and having best read-only results in previous benchmarks is the `sdsl/int_vector` with `rank_support_v5` and `select_support_mcl`.

[2019-06-17 15:35] h-2 commented on #1096
As a first step we should add a nightly build with `-funsigned-char`. This should trigger quite a few issues already.

[2019-06-18 12:40] smehringer opened #1101 "secure version checker"
1. The version checker uses an insecure connection to the server. Can't we use https?
2. The `command` variable is executed in a `system` call. The following link explains vulnerability issues with this: https://wiki.sei.cmu.edu/confluence/pages/viewpage.action?pageId=87152177

---

Resolution:
- [ ] Tübingen should use https (a card was added: https://github.com/seqan/seqan3/projects/7#card-27118

[2019-06-18 12:41] smehringer opened #1102 "Change naming of index template argument"
We changed the fm index interface to contain a bool template parameter to differentiate between text collection or single texts. I would discuss if we should not change this to a strong enum to make it more readable. Because bi_fm_index<true> (also type deduction should usually handle these cases without specifying the bool parameter) is not easy to understand. bi_fm_index<text_layout::collection>

[2019-06-18 12:42] smehringer opened #1103 "AlignedRange and gap_decorator TODOs"
1. random access iterators for gap_decorators
  - [x]  `begin_ra()` and `end_ra()` for `gap_decorator` (@smehringer )
  - [ ]  `view::make_random_access` (#1237 )
  2. Concept changes (@smehringer):
  - [ ] AlignedRange (reference_t is weakly comparable to `gap`)
  - [ ] WritableAlignedRange (current `AlignedSequence`)
  - [ ] make customisation point objects of stuff required for WritableAlignedR

[2019-06-18 13:09] #764 closed

[2019-06-18 16:13] rrahn opened #1104 "Refactor alignment matrix policy to use a unified interface."
Currently the alignment matrix policies directly expose the storage interface to the algorithm. Accordingly the alignment algorithm had to implement special verisons of the gap kernel to deal with the different matrix layouts. This should be encapsulated in a corresponding alignment matrix, which provides an unified interface to the algorithm. This step is necessary to reduce implement the vectori

[2019-06-19 08:33] smehringer opened #1106 "[BUG] Including file io does not work without zlib"
Because in line 105 of `misc_input.hpp`

[code]

the function `_bgzfCheckHeader` is used although declared in the bgzf_stream header which is **not included** if zlib is not available.

[2019-06-19 08:34] joshuak94 commented on #837
@rrahn @h-2 Bumping for my last question regarding multiple snippets in the same file..

[2019-06-19 09:45] h-2 commented on #837
Yes, the snippets should be adapted so that they are individually valid. This can mean making more individual files, but it can also mean merging some snippets into one larger snippet. This depends on the context and is mostly up to you I would say!

[2019-06-19 13:42] h-2 opened #1108 "version checker bug"
Just pressing enter at the interactive screen does not work.

[2019-06-19 19:21] smehringer commented on #1108
Should this default?

[2019-06-20 09:46] joshuak94 commented on #837
@h-2 Sounds good! A few more questions.

1. If the snippets are now going to be one snippet per file, do we need to use `[[snippet]]` notation? Or should I just get rid of those and do `\include` instead of `\snippet`.

2. Some of the examples use things like try catch blocks or `(void)` for unused variables. I'm guessing it's not a problem if those are visible in the examples? And would `(void)`

[2019-06-20 10:06] eseiler commented on #837
If you want to include the whole file, `\snippet` and `\include` are equivalent. So I would use `\include` instead of marking the whole file as a snippet.

You should be able to remove `(void)` and `[[maybe_unused]]`. We added `-Wno-unused-variable` to the compile flags of the snippet tests.
If you somewhere get unused parameter warnings, we can discuss if we want to add `-Wno-unused-parameter` as

[2019-06-20 10:07] joshuak94 commented on #837
Ah, great. Thanks!

[2019-06-20 11:43] marehr opened #1111 "edit_distance can't align with empty sequences."
The following cases will seg fault right now:

[code]

[2019-06-20 12:37] marehr opened #1112 "Rename back/front coordinate AND update docu"
### Rename
* back_coordinate -> ???
* front_coordinate -> ???

### Documentation issues:
pointed out by @joergi-w in https://github.com/seqan/seqan3/pull/1093#pullrequestreview-252185043

 * https://github.com/seqan/seqan3/blob/21541d64a4259e97976e71008f63903da7145514/include/seqan3/alignment/all.hpp#L110-L114

   http://docs.seqan.de/seqan/3-master-dev/group__alignment.html#autotoc_md3

 * https:

[2019-06-20 12:52] h-2 opened #1113 "ArgumentParser version check deactivation"
shouldn't be done via `true` or `false`, but via strong types, as per our policy.

[2019-06-20 14:47] joshuak94 opened #1114 "structure_file_input_snippet crashing with g++-8"
g++-8.3.0, gcc-8.3.0

The full error log is:
[code]

[2019-06-20 14:48] h-2 commented on #1114
Yes, that's broken in the nightlies, too, since a few days. Really strange. @joergi-w can you have a look?

[2019-06-20 16:00] smehringer opened #1116 "Alignment File cannot handle Hard clipping at the end"
Just so I don't forget

[2019-06-20 16:26] marehr opened #1117 "Deprecate translate_triplet overloads"
We currently have three unused overloads of `seqan3::translate_triplet`

This one is the only one used:
https://github.com/seqan/seqan3/blob/bbaf8c61d456c47a7e69ac3cd4fbdc669afea6ee/include/seqan3/alphabet/aminoacid/translation.hpp#L55-L56

Unused:
https://github.com/seqan/seqan3/blob/bbaf8c61d456c47a7e69ac3cd4fbdc669afea6ee/include/seqan3/alphabet/aminoacid/translation.hpp#L98-L105

Unused and wr

[2019-06-21 05:36] eseiler commented on #1114
#1097 breaks it
Adding
[code]
to the rna5 implicit construction fixes it.
The workaround should probably be in all rna alphabets?

[2019-06-21 08:37] eseiler commented on #1087
Related? https://gcc.gnu.org/bugzilla/show_bug.cgi?id=90764
(Type deductions are broken, so `lower_bound{3}` = ICE, `lower_bound<int64_t>{3}` = OK)

[2019-06-21 08:49] joshuak94 commented on #837
Should anything be changed with snippets that do not work, and are in comment blocks? Or is it enough to have them be as follows:
[code]

[2019-06-21 08:52] eseiler commented on #837
IIRC we wanted to remove the "does not work" stuff.

[2019-06-21 08:55] #1114 closed

[2019-06-21 19:44] johnlees opened #1120 "Compile fails due to PRIu64 in sdsl::int_vector_mapper"
I ran into this compiler error (copied below) when trying to build an fm-index, on the include line:
[code]
I am using gcc 7.2.0 with seqan 3.0.0.

I can replicate this when running the unit tests:
[code]

[2019-06-21 19:48] johnlees commented on #1120
If I add
[code]
This seems to fix this error

[2019-06-21 22:52] johnlees opened #1121 "Processing returned ranges from search segfaults"
I have the following code, compiled with GCC 7.2.0 (c++17) and SeqAn 3.0.0:
[code]
If `query` cannot be found then it's ok, but as soon as there is a match I get a segfault, I think at `results.size() > 0`. The number of hits doesn't print, and the result print line appears as `[1]` (which is wrong).

Any ideas what is causing this?
Is this because my libgcc/libstdc++ doesn't have an implementatio

[2019-06-22 11:29] marehr commented on #1121
Hi John!

Thank you for reporting.

We only support the most recent version of 7, which should be 7.4.x right now. Can you upgrade your compiler and try it out again?

I can remember that we had problems with the 7.2 release cycle in the search module.

Am 22. Juni 2019 00:52:39 MESZ schrieb John Lees <notifications@github.com>:

[2019-06-22 11:31] marehr commented on #1120
Hi John,

I think a gcc upgrade would fix this issue to.

Thank you!

Am 21. Juni 2019 21:48:54 MESZ schrieb John Lees <notifications@github.com>:

[2019-06-24 09:31] h-2 opened #1122 "Hash of `std::vector<dna4>` is linear, should be constant for unordered_maps."
Interesting: https://en.cppreference.com/w/cpp/utility/hash says

But, when using [unorderd_map](https://en.cppreference.com/w/cpp/container/unordered_map) it says in https://en.cppreference.com/w/cpp/container/unordered_map/hash_function:

[2019-06-24 09:38] h-2 opened #1123 "Doxygen stricter warnings"
Do we want to enable

[code]
---

`WARN_NO_PARAMDOC` warns about missing / mismatching parameters `\param` AND missing `return` descriptions.

There seems to be no warning level for missing `\tparam`

[2019-06-24 12:24] h-2 commented on #1108
Well it says that there is a default so there should be, or not? 😄

[2019-06-24 12:25] h-2 commented on #1106
We need nightlies without zlib

[2019-06-24 12:53] joshuak94 commented on #837
If you somewhere get unused parameter warnings, we can discuss if we want to add -Wno-unused-parameter as well.

What about -Wno-unused-but-set-variable? For something like this:
[code]

[2019-06-24 12:53] h-2 commented on #896
@joshuak94 or @MitraDarja can one of you look at this?

[2019-06-24 12:55] h-2 commented on #776
We should wait for after the Cologne ISO meeting and then change this for the 3.0.1 release.

[2019-06-24 13:21] joshuak94 commented on #837
Also, is it just snippets in the API documentation that should be Copy'n'Pastable? Or is it everything. For example, [this](http://docs.seqan.de/seqan/3-master-dev/classseqan3_1_1arithmetic__range__validator.html) snippet is fine, but in the tutorial where it mentions the `arithmetic_range_validator`, there's a small snippet which just shows how to construct the validator (http://docs.seqan.de/seq

[2019-06-24 17:22] cpockrandt opened #1129 "Reading from fastq.gz crashes"
Hi SeqAn-team :)

I'm trying to open a large fastq.gz file with reads [1] and access the first sequence. It works with SeqAn2 but crashes with SeqAn3. It works however on the unzipped fastq file. So there might be something wrong with the decompression. As @smehringer pointed out both library versions use the same wrapper and zlib? Unfortunately I couldn't create a smaller example that failed.

Se

[2019-06-24 17:30] h-2 commented on #1129
Maybe this got broken recently by bgzf code that was hurried in. Can you comment out the first if block in
https://github.com/seqan/seqan3/blob/master/include/seqan3/io/detail/misc_input.hpp#L105
And try again?

[2019-06-24 17:34] cpockrandt commented on #1129
Awesome, it works!

[2019-06-25 08:14] h-2 commented on #837
I think we should add `-Wno-unused-parameter` and `-Wno-unused-but-set-variable`

The tutorials shall keep `using namespace seqan3;`.

[2019-06-25 08:30] smehringer opened #1131 "[follow-up#1083] add cigar and mask to tuple test"
After refactoring the alphabet_tuple_test into a template, cigar and mask should be added/instantiated. This involves some work since there seems to be some problems @marehr ?
- [x] cigar (fixed by #1083)
- [ ] mask (soon fixed by #1270 )

[2019-06-25 08:38] joshuak94 commented on #837
So tutorials can be excerpts of code, and not fully copy'n'pastable?

[2019-06-25 08:46] h-2 commented on #837
Hm, that's a different question :thinking: But IIRC correctly that's what we decided on.

Since the tutorials are always done en-bloc and are meant to be followed from beginning to end, it's ok to have smaller snippets that constitute a whole and it reducses visual noise to omit `seqan3::`. The API docs on the other hand are meant as a resource to quickly lookup the properties of an interface and

[2019-06-25 08:49] joshuak94 commented on #837
Hmmmm okay. But are we *requiring* then, that tutorial snippets omit `seqan3::`? Because some of the tutorial snippets are excerpts from larger examples (see snippet/argument_parser/validators_1.cpp), and if the entire example requires `seqan3::`, I can't really omit it for just the tutorial part without creating a redundant file.

[2019-06-25 09:44] smehringer commented on #1113
Really? For the one-and-only boolean constructor parameter? I thought this was for situation with multiple parameters of the same type that can not be distinguished otherwise.

[2019-06-25 10:04] #1108 closed

[2019-06-25 13:41] marehr opened #1134 "[follow-up#1094] Test that `seqan3-config.cmake` works with cmake 3.4."
We require at least `cmake 3.4` for `seqan3-config.cmake`, but we raised the minimum version for the test cases, i.e.`seqan3/test/*/CMakeLists.txt`, to `cmake 3.7`, see #1094.

We have now the situation that  any change to `seqan3-config.cmake` might break for `cmake 3.4, 3.5, 3.6`, because we don't test it.

SO we should add a `/test/seqan3-config/` that tests whether `seqan3-config.cmake` works

[2019-06-25 14:16] h-2 opened #1135 "file column interface broken"
It's not possible to call `get<0>` on a file if not `using namespace seqan3;` because friends are only callable via ADL, but explicit template arguments inhibit ADL.

This means you can do neither `get<0>(f)` nor `seqan3::get<0>(f)`; it simply broken.

See also https://stackoverflow.com/questions/991518/c-how-do-i-call-a-friend-template-function-defined-inside-a-class

There is no good solution as

[2019-06-25 14:55] joshuak94 commented on #837
@h-2 Also `-Werror=unused-local-typedefs`?

[2019-06-25 15:10] h-2 commented on #837
Yep. All the unused stuff can be ignored for snippets.

[2019-06-25 19:15] johnlees commented on #1121
Thanks for the quick response!

I am now trying to get this to work with `conda build`, which has GCC 7.3.0, but more recent versions of `libgcc` and `libstdc++`. So, I think it should be possible, but I get confused around the distinction between what is needed with each of these...

Also of potential relevance is `cmake` changing sysroot options:
https://docs.conda.io/projects/conda-build/en/lat

[2019-06-25 20:22] eseiler opened #1137 "Revisit Setup guide"
http://docs.seqan.de/seqan/3-master-user/setup.html
Should link to platform stability for more information.
Conda on Linux needs to be updated (gcc is now on conda-forge afaik) and might not work since it is not up to date (currently gcc-7.3.0).

[2019-06-25 22:19] marehr commented on #1121
I for myself never worked with bioconda, so if you have any progress with it that we can include into our documentation or directly providing a bioconda (scaffold) package it would be much appreciated.

I remember that we have a bioconda section in http://docs.seqan.de/seqan/3-master-user/setup.html

But I guess that you already tried it out and didn't work.

Am 25. Juni 2019 21:15:12 MESZ schrieb

[2019-06-26 17:02] johnlees commented on #1120
Using a newer gcc does indeed fix this

[2019-06-26 17:02] #1120 closed

[2019-06-26 18:09] johnlees commented on #1121
I am trying again with GCC 8.2.0 but am having the same issue. Here is an edited backtrace using the same code as above:
[code]

Any ideas why this might be happening? Could it be that I am still picking up an old libgcc and libstdc++?

[2019-06-26 18:11] johnlees commented on #1121
Perhaps it is not this, the results of `otool -L` suggests it's using the gcc-8 ones:
[code]

[2019-06-26 18:34] johnlees commented on #1121
Apologies, the backtrace above was when this was threaded. The offending line appears to be in `sd_vector.hpp`:
[code]

[2019-06-26 18:58] h-2 commented on #1121
Ok, that does look like a bug in our code. @eseiler can you have a look at this?

@johnlees Does it happen for any input or can you provide us with sample argument to above example that trigger the problem?

Regarding compiler versions: We are currently very much at the bleeding edge of C++ and (unfortunately have to) report mulitple GCC bugs on average per month. Since we don't want to riddle our

[2019-06-26 19:10] johnlees commented on #1121
Ok, thanks a lot for the help!

I've attached an archive, [seqan_3_sdsl_segfault.tar.gz](https://github.com/seqan/seqan3/files/3331577/seqan_3_sdsl_segfault.tar.gz), which has the above code with a main function providing data that produces this error. I've also included the cmake file I've been using. The threaded code has been commented out and replaced with a single function call for ease of de

[2019-06-27 09:24] joshuak94 commented on #837
@h-2 Do you know if every gcc flag has a "no" option? i.e. if I just did "-Wno-unused", would that be sufficient?

[2019-06-27 12:50] h-2 opened #1142 "Search module issues"
## Documentation

The only thing regarding result_type I could find was:

[code]

Well, what is a hit? And what does it mean that it depends on a config? Neither the documentation for module or sub-module cover this, nor the documentation of search() or search_cfg. Also the API documentation for search stuff in general is very scarce.

[2019-06-27 12:52] h-2 commented on #1142
Maybe we should discuss what we want the return type to be. I am mildly in favour of having a `search_result` struct that enables us to add more stuff later. And it would be more in line with the alignment module.

[2019-06-27 13:28] h-2 commented on #1142
it is also not documented which headers you need to include to be able to search.

[2019-06-27 14:54] h-2 commented on #1142
## Bugs

* search doesn't enforce that queries model SizedRange, but then calls `std::ranges::size()` on them

[2019-06-27 17:50] cpockrandt opened #1143 "[DOC] Add complete example of argument parser into tutorial"
As discussed with @smehringer it would be more convenient for the user if there was a complete code example of the entire argument parser example at the end of the tutorial.

At the moment you only find the intermediate solutions in nested solution boxes that you need to expand. I would suggest to add a section with the entire code at the end of the tutorial and include it into the TOC.

[2019-06-27 22:48] marehr commented on #1122
Just one remark the standard library uses https://github.com/gcc-mirror/gcc/blob/d1ca0650375baefa8851f7b1bebf70ebb1ea1446/libstdc%2B%2B-v3/libsupc%2B%2B/hash_bytes.cc#L74 for strings, which is linear, but uses some internal shenanigans to cache results of hash operations.

[2019-06-28 11:18] eseiler commented on #1121
Thanks for reporting!

Here is a reduced test case
[code]

[2019-06-28 12:30] #1117 closed

[2019-07-01 09:22] #1095 closed

[2019-07-01 15:24] rrahn commented on #1142
In general I would propose gathering these tings in cards on the correspondent project page. These things should to be converted into multiple issues anyway.

[2019-07-01 16:15] rrahn commented on #1129
Ok, the issue is that this file is in fact a bgzf file and the compression format gz was not handled correctly. There is an open PR for the fix.

[2019-07-01 17:13] rrahn commented on #1113
But if you add one in the future it is strange because you have to add a strong type but to provide stable API you cannot get rid of the old constructor. So it is in gerenal better to use strong types for built-in types. Also if there is only a single argument (yet).

[2019-07-01 17:19] rrahn commented on #1123
I am not so sure. In general yes. But many simple functions like iterator operator need to be documented accordingly. In this case I think the return type etc. is trivial and does not need to be documented. So if this would produce warnings this might get out of hand.

[2019-07-01 17:22] rrahn commented on #1087
Possibly. At some point I will check this.

[2019-07-01 17:24] rrahn commented on #1111
I guess this also affects the general alignment code.

[2019-07-01 19:31] marehr commented on #1111
I didn't test the general alignment code.

[2019-07-02 11:21] #1129 closed

[2019-07-02 11:26] h-2 commented on #1087
Hm, maybe we can discuss this again in the strategy meeting or find someone else responsible, if you have time constraints, but I really think we should make reporting these things a priority. Especially regressions and things not related to concepts are fixed really quickly by the GCC people.
If fixing them is not a priority we accept the permanent error state in the nightlies and won't see new i

[2019-07-02 21:43] #1091 closed

[2019-07-03 09:08] #1121 closed

[2019-07-03 11:34] smehringer commented on #1121
@johnlees The fix was merged. Can you check out the newest master and check if your code works now?

[2019-07-03 13:53] smehringer opened #1152 "seqan2_test unit test is broken"
## Description

The test does not compile if seqan2 is present

Seqn3 revision (current master): f4e8fd450b8e6bbc3c1b8152370fbe56d4fdea45
Seqan2 revsision (current master): 55b8b1f2da587c96f38f572299d01f4ff44af351

[code]

[2019-07-03 19:48] marehr commented on #1152
Can you provide the error message and the your current commit id? For me it is working f4e8fd450b8e6bbc3c1b8152370fbe56d4fdea45. Do you have the most recent seqan2 checked out (upstream/develop)?

[2019-07-04 06:11] smehringer commented on #1152
The test compiles on most recent seqan2/upstream/develop
but not on most recent seqan2/upstream/master.
If this is fine with our setup this issue can be closed

[2019-07-04 11:18] #1102 closed

[2019-07-05 10:15] rrahn commented on #1152
yes this is ok. Since we haven't merged develop into master yet. So we need another release of SeqAn soon anyway. Maybe until end of this year, depending on how much of compatibility we can expect

[2019-07-05 10:15] #1152 closed

[2019-07-05 18:23] cpockrandt opened #1162 "Parallel file reader"
I'm currently writing a tool that reads large fastq-files and iterates over all reads once (just like a read mapper). Unfortunately parallelizing is not really convenient with OpenMP since you do not know the number of reads in advance. This sounds like a producer-consumer-pattern.

I was wondering if you thought about this problem and whether we shall offer a parallel file reader in SeqAn3. It's

[2019-07-05 18:57] h-2 commented on #1162
What do you mean by "parallel file reader"? Do you mean asynchronous I/O? Or do you want to read different parts of the file in parallel? The latter is never advisable, because reading from disk is inherently non-parallel, for hard-drives the system can only be at one place at the same time.

Regarding Async I/O, that is something I will be working on for 3.0.1.

[2019-07-05 19:07] cpockrandt commented on #1162
No, I'm not talking about going over the file in parallel. I mean buffering and multiple threads going over the buffered reads in parallel. You usually want to process all the reads in parallel but you don't want to keep them all in memory at the same time.

[2019-07-05 19:35] h-2 commented on #1162
What we are planning is for the file to read into the buffer into the background so that I/O happens in a separate thread in the background while processing happens in the foreground. However this does not mean that you can iterate over the file with multiple threads in parallel. That would imply that the file needs to know which thread still needs which part of the buffer. This is not possible wi

[2019-07-05 20:03] cpockrandt commented on #1162
If you have one thread that buffers some reads into a concurrent queue and N-1 threads dequeing and processing the reads, this should always be faster than a sequential program (assuming that processing the reads is somewhat expensive like aligning). This wouldn't required any ordered parallelization.

We could make a view::thread_safe [...]

That could make sense. You should chunk the reads in yo

[2019-07-05 20:20] cpockrandt commented on #1162
I forgot to add that your plan might not be as easy. You can't use OpenMP when reading the file straight forward (not even with locking) since you do not know the number of iterations. The iterator only supports `operator!=`, not ordered ones such as `operator<`. If you parallelize a for-loop, OpenMP requires something like `operator<` instead of `operator!=` in the for-loop condition.

    for (a

[2019-07-06 12:19] mr-eyes opened #1163 "Other file formats support "GFT, BED, etc..""
## Question
Is there a plan for supporting other file formats that were supported by older Seqan versions like GTF, BED, VCF?

Thanks.

[2019-07-06 23:57] johnlees commented on #1121
It works!!
Thank you all for quick and helpful support, and the construction of such a useful project

(also this worked in conda with gcc 7.3.0 too - so a bioconda package should certainly be possible)

[2019-07-08 05:32] smehringer commented on #1121
Thank you :tada:

[2019-07-08 07:25] marehr commented on #1121
@johnlees Can you open a new issue with a feature request for a bioconda package? (Otherwise we will forget it.)

As you seem to have experience with bioconda, I would like to invite you to walk us through the initial shenanigans to get a bioconda package working. It is much easier to work on something existing than to do it for the first time alone.

[2019-07-08 07:30] marehr commented on #1135
I think this issue was already raised at the workshop 9/2018 (#471)

[2019-07-08 09:10] eseiler commented on #1121
Alternatively, I can be assigned. I did a few packages in the past.
(The main problem will be that conda usually does not provide the most recent release of a compiler.)

[2019-07-08 09:51] eseiler opened #1164 "Add link to seqan3 to seqan2?"

[2019-07-08 09:57] eseiler opened #1165 "Bump googletest to master"
After 3.0.1

There will be no 1.8.x release, 1.9 may be released at some point in the future, and from what I've read, there won't be any more releases after this since they'll follow a "Live at head" philosophy.
So maybe fix to commit and have a nightly/weekly/monthly which uses the current master?

[2019-07-08 10:06] marehr opened #1166 "Change build system to support detail tests that are excluded from coverage."
Check if tests can be excluded from code coverage build with a regex. E.g., have all detail tests named `xxx_detail_test.cpp` and exclude them from coverage.

[2019-07-08 10:12] smehringer commented on #1163
Hi @mr-eyes,

Yes, there certainly is! We just don't have the capacities for this right now so this feature won't be ready before next summer.

If you are interested in contributing, we happily accept pull request and would of course support the process :smiley:

[2019-07-08 10:27] marehr opened #1167 "Add c++ shebang `// -*- C++ -*-` At the beginning of the seqan3/std headers."
Since many editors can recognise this file than as c++ which makes opening these files so much easier.

-----

08.07.2019

We will introduce this for cpp files without extension.

[2019-07-08 15:03] johnlees opened #1168 "Create bioconda package"
As requested in #1121, this is an issue to track progress on adding seqan3 to bioconda. This would mean bioconda users can include a seqan3 dependency in their conda recipes, rather than needing to use git submodules.

It's my understanding that seqan3 is a header only library, so I think the package would consist of copying the relevant files to the conda `include/` directory, plus any others tha

[2019-07-08 15:41] marehr commented on #1168
Can you give me an example how to build the `meta.yml` with bioconda?

[2019-07-08 15:52] johnlees commented on #1168
If you put your `meta.yml` and `build.sh` in a folder, say `seqan3/`, you would run
[code]

Though, with a fresh conda install/environment, you will first want to install `conda build` itself:
[code]
and set up your channels to include bioconda:
[code]
Documentation for conda build is here: https://conda.io/projects/conda-build/en/latest/user-guide/index.html

If you have a proposed update for the

[2019-07-08 15:54] marehr commented on #1168
Thank you for writing this up! I'll have a look at it :+1:

[2019-07-08 16:04] marehr commented on #1168
Just a couple of questions. So the tool is not called bioconda, but conda? But, one of the source channels is called bioconda, which contains biological-related tools?

Can you create a PR where you:

* create a folder in https://github.com/seqan/seqan3/tree/master/build_system called [bio]conda (depending wether the packaging system is called conda or bioconda)
* add your suggested files into tha

[2019-07-08 16:36] eseiler commented on #1168
The tool is conda, and the channel is bioconda.
There's also SeqAn2 on [conda-forge](https://github.com/conda-forge/seqan-library-feedstock). This channel usually contains general purpose stuff.

In the end you need to do a PR in [bioconda-recipes](https://github.com/bioconda/bioconda-recipes) and provide `meta.yml` / `build.sh` there.
So we don't really need a PR here, or do we?

[2019-07-08 16:44] johnlees commented on #1168
I think a PR in [bioconda-recipes](https://github.com/bioconda/bioconda-recipes) makes the most sense, unless you think SeqAn3 should go in conda-forge instead of bioconda?

[2019-07-08 16:46] marehr commented on #1168
So we don't really need a PR here, or do we?

True, but I wanted to discuss some lines with @johnlees, before we do a PR downstream.

[2019-07-08 16:55] eseiler commented on #1168
I'd say bioconda, also because I personally think it's easier to maintain.
I'm also not totally sure why SeqAn is in conda-forge ... the only reason could be the argument-parser which was also used outside of biological applications.

[2019-07-08 16:56] eseiler commented on #1168
Unless you put the `please review & merge` label, I don't think anyone will care much about it - there are a few hundred open PRs.
(And you can directly check if the stuff works.)

[2019-07-08 17:01] johnlees commented on #1168
I think that's a good idea - you can add us as reviewers too I think.
Normally I test the recipe with conda build locally, then open the PR on
bioconda and fix + commit until the tests pass, then add the please review
& merge label

On Mon, 8 Jul 2019 at 12:56, Enrico Seiler <notifications@github.com> wrote:

[2019-07-08 17:03] marehr commented on #1168
Okay let's do it like this. We open a PR at bioconda and walk trough the config-file over there.

[2019-07-08 17:07] marehr commented on #1168
@johnlees Can you do this and add me as reviewer?

[2019-07-08 18:51] johnlees commented on #1168
https://github.com/bioconda/bioconda-recipes/pull/16256

I can only add people who are part of bioconda, you can get added by pinging @bioconda/core in the PR
(I added @eseiler already)

[2019-07-08 21:37] eseiler commented on #1166
Mhm, one more thing came to my mind.
As example: You implement some algorithm and need an *internal* (reusable?) data structure. You want the new data structure to model `ReserveableContainer` and hence implement a plethora of functions, most of which you just do not need or just cannot use in your algorithm. But this would lead to a decrease in coverage, wouldn't it?

[2019-07-09 10:41] marehr commented on #1087
I could reduce this ICE to

[code]

I'll do a bug report on gcc.

[2019-07-09 10:54] marehr commented on #1087
Created a bug report https://gcc.gnu.org/bugzilla/show_bug.cgi?id=91121

[2019-07-09 10:57] marehr commented on #1087
Didn't see your comment. Yes it seems to be the same error.

[2019-07-09 15:38] marehr commented on #1166
Yes and we talked about it. If it is something that models for example a Container when it is not considered as a detail test, because we could reuse the class for other use cases.

[2019-07-09 17:40] #905 closed

[2019-07-10 07:38] smehringer commented on #1166
Hm this is indeed a use case where the new test design has to make exceptions.. if we consider the small_vector as an example, @marehr is right, we decided that independent data structures that are reused in different models may be tested publicly, but what about detail data structures that e.g. are only used in the search module and nowhere else?

[2019-07-10 10:52] eseiler commented on #1166
No specific use case. I think it's fine as you outlined it.

[2019-07-10 16:13] h-2 opened #1175 "ArgParser: Don't show headers for empty sections."
[code]

`GENERAL OPTIONS` should not be displayed, because there are no general options (just visible with -hh).

[2019-07-10 17:18] h-2 opened #1176 "ArgParser: extension containing . accepted, but fail"
In my attempt to support `.fasta.gz`, I added `fasta.gz` as an extension. But the argument parser tells me:
[code]

One could argue whether extensions containing the dot should be allowed, but I think they should. If not, there should be an error when setting up such an extension, not a silent failure.

In any case, we also need handling of compression formats.

[2019-07-10 22:10] cpockrandt opened #1177 "Segmentation fault produced by version check on some machines."
Hi,

I am using the argument parser. On one machine the binary runs, on the other I get a segfault.

[code]

I can fix it by turning version-check off. Interestingly the first one works, the second call produces the same segmentation fault (it seems the order of arguments matters ... shouldn't all arguments be parsed first before sending data over the internet? :thinking: ):

[code]

I include omp

[2019-07-10 23:58] eseiler commented on #1177
Hey!

The thing with the argument positions is probably originating from https://github.com/seqan/seqan3/blob/c78e92c4d728332e38fc6d247661755dc998cb6c/include/seqan3/argument_parser/argument_parser.hpp#L550-L556
and following lines.
We first check `--help` (we return after that) and after a while we check for `--version-check` (and keep going after that). `--version-check` should probably be check

[2019-07-11 06:56] smehringer commented on #1177
which two machines, with which OS and which compiler are you using? Do you link pthread?

[code]

@eseiler is right. In the first case, the version check is turned off. In the second case it is not because as soon as we see help, we terminate the loop. This needs to be changed.

As to the segmentation fault, the stack trace is quite short :(
I would need to reproduce the error... maybe we have a s

[2019-07-11 07:03] smehringer commented on #1175
This cannot be done automatically in our design... because I add the `print_this/that` calls directly to a list of function calls and I cannot check whether the print succeeding the current is another `print_section` which would indicate that the list for this subsection is empty.

One way would be to allow the `add_subsection()` member func to get a second parameter that this section is a `option

[2019-07-11 07:14] smehringer commented on #1176
Solution 1:
The user only needs to supply the formats without the additional compression extension and the file extension validator should check those depending which library is present.
The same way, the argument parser should add compression extension automatically.
I guess then we need to prevent users from supplying multi-extension extensions (containing another dot). But this might limit pipe

[2019-07-11 10:43] h-2 commented on #1176
Hm, I have thought about this a bit more, and I would propose the following:

1. We add `seqan3::input_stream` and `seqan3::output_stream`, they transparently apply (de)compression if needed (similar to SeqAn2's VirtualStream). We need this anyway, because we want to easily use compression and decompression for things that are not our formatted_files. This will also obsolete the two-stream-mechani

[2019-07-11 16:12] #1096 closed

[2019-07-11 16:14] cpockrandt commented on #1177
Thanks @eseiler for the path. The reason why I don't get segmentation faults is simply because I selected "never check for updates" on most machines. I.e. I get the same segmentation fault on every machine when I remove the config files.

It seems that this line in my CMake file leads to the segmentation fault. If I take it out, it runs:

[code]

I reproduced the error with this minimal example:

[2019-07-11 16:23] h-2 commented on #1177
Let me guess, the machine you built on is not Debian/Ubuntu, but the machine that crashes is?

You have to be really careful with static builds, it's why we went through a lot of trouble on SeqAn2 to make it work. In any case, this is not a problem of SeqAn3, it's a problem of how some linux distributions do their packaging and static builds in general.

[2019-07-11 16:26] h-2 commented on #1177
Adding this to your flags will likely make it work `-Wl,--whole-archive -lpthread -Wl,--no-whole-archive`, however, I recommend just rebuilding the app on every machine. Doing that and using `-march=native` will also improve the performance.

[2019-07-11 16:36] cpockrandt commented on #1177
It crashes on Debian as well as Red Hat machines.

It's not really a problem for me, I can work around it. But if it is not even working on Debian, it might be worth it to transfer the workarounds from seqan2?

[2019-07-11 16:40] rrahn commented on #1177
Well, we are not building apps in SeqAn3 anymore. So the app developer is responsible for these kind of things. We had this only before because we were packaging all the apps with SeqAn.

Because you need pthreads and if you link against it statically not all of pthread lib is included. So many functions may work but some (like using futures/conditionals etc) won't. In the version check we spawn a

[2019-07-11 16:46] cpockrandt commented on #1177
Ok, you have a point. As soon as the other bug  (order of ``--help`` and ``--version-check``) is fixed, we can close this :)

[2019-07-11 18:01] rrahn commented on #1176
I am absolutely for point 1. That makes a lot of stuff much easier in the handling, especially when working with stream compressors. The 2. point we already agreed on. The list of extensions is handled separately from the compression formats. Still for the CTD parser we can build a list of all combinations. In my current PR for extracting the valid extensions I added a similar mechanism to get the

[2019-07-11 18:08] rrahn commented on #1175
So to get me right, General Options is automatically generated by the parser - no user input required? But it‘s content is only displayed if -hh is passed to the parser? I am not familiar with the structure of the parser, but would it then not make sense to keep the automagically hidden arguments in a separate list and also only add the sections when required by the user? Just a thought, but I am

[2019-07-11 18:23] rrahn commented on #1166
Is it not possible to tell gcov to not set counters for any object/function defined in a file that has detail in it‘s name?

In this is not possible, and we have something that models a public Concept we might have a test template for it that tests all the interfaces like the iterator tests right now. So it must be tested separately for the testcoverage to reach 100%.

[2019-07-11 18:43] rrahn commented on #1162
I would always keep these things separate. Like don‘t try to make something parallel that is an inherently sequential problem.

In general what we should think of are two scenarios. A) the user want‘s to read chunks of records, process the chunk and fetch the next chunk asynchronously. B) as discussed the user asynchronously adds the read records to a queue and consumer threads will process the wo

[2019-07-11 20:03] rrahn opened #1182 "Add nightly without zlib/bzip support"
When using formatted files with compression we require the dependency of zlib or bzip2. Since all our systems on which we test our software have these dependencies installed we might not see errors that could occur in the code if we do not have the dependencies (see #1106).
To test without zlib or bzip make a seperate docker build on jenkins that does not install the dependencies upon start.

[2019-07-11 20:06] rrahn commented on #1103
What would be the use case for this?

[2019-07-11 20:46] eseiler opened #1183 "[Follow-up #1157] view_take_exactly fails on PPC gcc8 release"
[code]

---

The failing `v3b` is
[code]
where `vec = "foobar"` and `adaptor = view_take_exactly`. If you remove, e.g., `ranges::view::unique`, it works. You can also remove some of the other views to make it work.

---

Fail matrix (:x: = fail, :white_check_mark: = passes)

|                | no flags           | -fsanitize=unused  | -fsanitize=address |
|----------------|--------------------|---

[2019-07-12 06:20] smehringer commented on #1176
But the discussion was about: Do we allow  `ext1.ext2` :) ?

[2019-07-12 06:22] rrahn commented on #1176
and we said yes. Plus some additional design decisions ;)

[2019-07-12 06:41] smehringer commented on #1175
No. This was Hannes (with `myparser.add_section("General Options")`).

Then I would have to still signal the `add_section` call that it must go to the separate list of hidden options. And then the order gets messed up because when printing the advanced help, all options and section in the separate list are printed after all the others and not in the developer-provided order of add_option-calls (th

[2019-07-12 06:47] smehringer commented on #1103
Currently, you can only insert a single gap symbol. This is highly inefficient for the gap_decorator if you want to insert a gap of length 10. While just thinking about it, this should be rather done by adding a size paramter to the `insert_gap` function.

In addition, Marie proposed an insert gap with multiple positions that can be sorted (or required to be sorted) and inserted as a batch which i

[2019-07-12 06:49] smehringer commented on #1182
Related to #1106

[2019-07-12 08:55] rrahn commented on #1175
Ok I see. But the problem with the advanced section is that it is not possible to combine hidden with non hidden options. You could argue that one should only use the advanced section if all options are advanced. But I think that this is not a strong design, as there are ways to use it wrong. So the behavior should be rather that a section or the parser should know when it is empty or not.

[2019-07-12 09:03] smehringer commented on #1175
Yes you are right but I don't see a clean way to do that in out current design because we store all `add_*` as function calls :( I would need to clumsily store an extra array keeping track of add_sections vs. add_foo and then make queries before printing..

[2019-07-12 09:10] rrahn commented on #1175
yes, there would be some work about it. Though, this is not a major issue and not relevant for the current or next release. Let's see how we can schedule it.

[2019-07-12 09:15] rrahn commented on #1103
Oh really?

Exactly! Like the vector interface `insert_gap(iterator pos, size_t count)`

[2019-07-12 09:19] rrahn commented on #1103
I know but I am not yet highly convinced that it gives us a real advantage over inserting gap intervals. At least for the regular alignment code, you usually have  a quadratic runtime opposed to a linear runtime when building the gap structure. And when I insert the gaps with a hint (the iterator position), then it should not really matter. I guess that depends on the underlying data structure at

[2019-07-12 09:20] #1143 closed

[2019-07-12 09:33] rrahn commented on #1183
Well, I have also some gcc-8 issues on macos (only on sierra and high-sierra). Not sure if the compiler is in general broken. Also it had some severe performance regressions that were fixed in gcc-9 again, if I remember correctly.

[2019-07-12 10:09] smehringer commented on #1103
You are giving a hint to the position in the virtual sequence. Unfortunately, this does not help the gap decorator to know the physical position in the gap-set (stores position and length of the gaps).

Alternatively, we could think about a push_back/append_gaps functionality because inserting at the end provides enough hints for constant time insertions.

[2019-07-12 10:28] mariehoffmann commented on #1103
To avoid confusion, of course `insert_gap` can handle contiguous gaps of arbitrary length with defaulted insert length of one.
`insert_gaps` is intended to handle a list of contiguous gaps. Use cases: read in and processing of MSA files, hardware outsourced MSA computation, e.g. you would want to have minimal data transfer between GPU and main memory and therefore collect the computed gaps before

[2019-07-12 11:36] mariehoffmann commented on #1103
Do you mean the approach where gaps are stored as anchors (relative or accumulate)? If so, then just a little reminder that I tested this exhaustively [here](https://github.com/mariehoffmann/seqan3_benchmarks/tree/master/gap_decorators) with plots posted [here](https://github.com/seqan/seqan3/issues/382) (Scroll down) . Result discussion was then in the Journal Club 1 year ago.
For larger sequence

[2019-07-12 12:03] eseiler commented on #1183
Mhm, maybe it is the compiler.
Which things are failing on macos?

Btw, is updating googletest to master also fixing the tests for macos?

[2019-07-12 12:11] eseiler commented on #1142
I agree. (and maybe send me a message, so I know that there are issues.)

[2019-07-12 12:15] eseiler commented on #1142
But generally the expression `std::ranges::size(rng)` on a range `rng` that does not model `SizedRange` is not ill-formed, if `SizedSentinel` is defined for the `rng` iterators.
`SizedRange` just guarantees that it works (and is constant).

I'll add `SizedRange` since I actually do want a constant `size`.

[2019-07-12 12:20] eseiler commented on #1142
Currently:
[code]

Maybe like this?
[code]

[2019-07-12 12:22] eseiler commented on #1142
Agreed. I'll have a look at how the alignment module does it.

[2019-07-12 14:53] h-2 commented on #1182
You can pass a macro and it won't be used, even if present on the system. So there is no need for an extra docker.

[2019-07-12 15:01] h-2 commented on #1142
I think you are mixing up some things. If the iterator-sentinel pair models `SizedSentinel` than the range does indeed model `SizedRange`. Both concepts imply that the size can be retrieved in O(1). `std::ranges::size()` is only defined for `SizedRange`s.
Independent of `std::ranges::size()` there is also `std::ranges::distance()` which may be in O(n).

:+1:

[2019-07-12 15:07] rrahn commented on #1142
Regarding the structure the proposed structure would be the right one since we only allow module structure with a depth of 2 if it is public API. Every submodule can have a detail directory though.

[2019-07-12 15:08] rrahn commented on #1142
For the return type let us discuss what you need so we can keep them in sync as much as possible.

[2019-07-12 15:16] rrahn commented on #1182
But it is already there. Our docker containers are vanilla containers and install the dependencies on invocation. You just need another rule that omitd installing  these dependencies. I think that is a more natural use case.

[2019-07-12 15:21] rrahn commented on #1183
I have to check. But I experienced segfaults in the alignment configuration. Neither valgrind nor sanitizer brought any luck

[2019-07-12 16:15] rrahn commented on #1103
I think the general use case is to construct the gapped range from an alignment. In this case you always can insert from left to right and depending on the underlying data structure this would be as efficient as it can be. No updating of tails/virtual positions etc. At the moment I consider random inserts/erases as not the standard use case. So I am puzzled about the added value of such a bulk ins

[2019-07-12 23:07] eseiler commented on #1142
Mhm, we require either that the query models `RandomAccessRange` I would think that this implies `SizedRange`?
If it's a Range of queries `q_rng`, we require `ForwardRange` for the outer range and `RandomAccessRange` for the inner range (actual queries). At some point we call `std::distance(q_rng.begin(), q_rng.end())`. Is this safe?

[2019-07-13 09:53] rrahn commented on #1142
No RA does not imply Sized. Like an infinity repeat view which is RA but not Sized. You should also use ranges::distance as it gives you the size in O(1) when the ForwardRange is Sized. The std::distance function requires RA iterator for this.

[2019-07-15 10:31] eseiler opened #1188 "Codecov failures due to writing to file."
Upload rarely fails, most often it just cannot read some files it generated.
Rerun helps, but takes an hour. And if it's happening on the master branch, the badge show `failing` until either someone reruns codecov in travis (and it passes) or a new commit is pushed to master (and everything passes).

E.g. https://travis-ci.org/seqan/seqan3/jobs/558817859

`WARNING: negative counts found in tracefi

[2019-07-17 14:12] h-2 commented on #274
Closing this in favour of a card.

[2019-07-17 14:12] #274 closed

[2019-07-18 14:40] #1104 closed

[2019-07-20 13:48] eseiler commented on #1188
Seems fixed by #1189 for now

[2019-07-20 13:48] #1188 closed

[2019-07-23 13:00] eldariont opened #1193 "Do I need to add -lpthread to linker flags?"
## Platform

  - SeqAn version: 3.0.0
  - Operating system: Linux weissweiler.molgen.mpg.de 4.19.19.mx64.244 #1 SMP Tue Feb 5 13:01:13 CET 2019 x86_64 GNU/Linux
  - Compiler: gcc (GCC) 7.3.0

## Description

### How to repeat the problem

I'm writing an application based on seqan3. This is how my project directory looks like:
[code]

CMakeLists.txt:
[code]

main.cpp:
[code]

### Expected behaviour

[2019-07-24 11:06] smehringer opened #1194 "ICE when including cigar.hpp with validators.hpp"
### Platform

  - SeqAn version: current master
  - Operating system: linux
  - Compiler: GCC-7.4, GCC-8.3 (GCC9 works)

### Description

Including both cigar.hpp and validators.hpp causes an ICE.

Seems to be related to the debug stream.

#### How to repeat the problem

[code]

[2019-07-24 12:52] eldariont opened #1195 "Reading a BAM file uses up all available CPU cores"
**EDIT: Updated problem description on May 21**

Hi,

while testing seqan/iGenVar on a real-world bam file I observed extreme CPU load caused by reading the BAM file.

## Platform

  - SeqAn version: 3.0.3 (on branch release-3.0.3)
  - Operating system: Linux elcattivo.molgen.mpg.de 5.10.24.mx64.375 #1 SMP Fri Mar 19 12:29:21 CET 2021 x86_64 GNU/Linux
  - Compiler: g++ (GCC) 7.5.0

## Description

[2019-07-25 07:18] smehringer commented on #1195
Hi David,

thanks for reporting back to us so much! It really helps to get rid of a lot of bugs when actual use cases arise.

The heavy CPU load is expected, you are not doing anything wrong. Since our files behave as ranges, they have to buffer the first record as soon as they are initialized. For SAM/BAM this is only the header and the first line. For a genome file this probably reads in chromos

[2019-07-25 08:48] eldariont commented on #1195
Hi Svenja,

thanks for your quick reply. Now it makes sense that the initialization of the sequence file takes a while. Thanks for the explanation.

The 800% CPU load are still weird in my opinion. When I print a debug message after each initialization, I see that the alignment file (yes, it's a BAM) is initialized in no time (as would be expected because header + first record are short). The init

[2019-07-25 13:17] smehringer commented on #1195
Hi David,

you are right this is unexpected behaviour.
I can reproduce your issue on GCC8:

[code]

|
**Input: BAM** |  |  |  |
| ----------- | ---------- | -------- | ---------- |
| 24,93s user | 0,20s system | 100% cpu | 24,989 total |
| 25,50s user | 0,19s system | 100% cpu | 25,464 total |
| 25,38s user | 0,18s system | 100% cpu | 25,343 total |

[code]

|**Input: BAM**  |  |  |  |
| ---------

[2019-07-30 19:45] ppericard opened #1199 "Error compiling the argument parser test program"
Hi,

I'm encountering a pb testing seqan3 and trying to go through the tutorial programs.

I compiled the first two tutorial programs without any error, but I have a fatal compiling error when trying to compile the minimal argument parser tutorial.
I tried with gcc-7 and gcc-9 and got 2 different errors.

Thanks in advance for your help

Cheers
Pierre

## Platform

  - SeqAn version:  latest as of

[2019-07-30 20:14] h-2 commented on #1199
You are missing required linker arguments. These would have been added by CMake automatically :wink:

With GCC7 you need to add `-lstdc++fs` (this is automatically added by GCC9.

For both of them you need to add `-pthread` which adds the threading support. Maybe we should make this clearer in the tutorial... However CMake really is the way to go!

[2019-07-30 20:33] ppericard commented on #1199
It works fine with those arguments. But I should have been clearer, I started by using CMake following the tutorial, and this is when this error arose.
It seems that CMake didn't add them automatically.

[code]

[code]

[2019-07-31 08:06] h-2 commented on #1199
Hm, that's strange, we will investigate it. Thanks for letting us know!

[2019-08-02 14:16] h-2 commented on #1195
I have difficulties reproducing this, for me the program always immediately exits (as expected because only one record is buffered). Can you provide the files that trigger this behaviour?

[2019-08-02 14:44] h-2 commented on #1164
Done.

[2019-08-02 14:44] #1164 closed

[2019-08-02 14:58] h-2 opened #1201 "BAM unknown reference name"
Maybe we are too strict?

I am seeing this on random files from the internet:
[code]
e.g. http://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeUwRepliSeq/wgEncodeUwRepliSeqBg02esG1bAlnRep1.bam

[code]

[2019-08-03 12:24] #1193 closed

[2019-08-03 12:25] h-2 commented on #1193
Can you verify that the latest master branch fixes the problem?

[2019-08-03 12:25] h-2 commented on #1199
Can you verify that the latest master branch fixes the problem?

[2019-08-05 09:51] eldariont commented on #1193
Yes, the latest master branch fixes the problem. Thanks for the quick fix!

[2019-08-05 10:26] eldariont commented on #1195
Hi Hannes,

I generated a tiny BAM file which triggers the behaviour on my Linux machine: https://ws.molgen.mpg.de/ws/635147/test.bam

As reference FASTA, I used
[code]

I observe a difference between Release and Debug mode, though. In Debug mode (`-DCMAKE_BUILD_TYPE=Debug`), the CPU load is sustained much longer. In Relase mode, it takes only about one second.

[2019-08-06 17:19] ppericard commented on #1199
Yep, it works fine now !
Thank you all ^^

[2019-08-06 17:19] #1199 closed

[2019-08-07 08:08] JensUweUlrich opened #1202 "gcc-7.2.0 Compiler error"
## Platform

  - SeqAn version: 3.0.0
  - Operating system:  Debian GNU/Linux 9.9
  - Compiler: GCC-7.2.0

## Description

When I try to compile my application with cmake & make I get an error from the compiler. This error does not occur on a system with GCC-7.4.0

### How to repeat the problem

Just try to compile a tool that uses the argument parser

### Expected behaviour

Compilation should su

[2019-08-07 08:30] h-2 commented on #1202
Yes, it's a bug in gcc-7.2. We only support the most recent minor release of the each compiler, but this shouldn't be a problem, because every platform that receives gcc-7.x will receive gcc-7.(x+1).

[2019-08-07 08:32] h-2 commented on #1202
See also http://docs.seqan.de/seqan/3-master-user/about_api.html

[2019-08-07 09:10] JensUweUlrich commented on #1202
Thanks for the quick reply. I suspected this to be a bug in the compiler. Unfortunately the latest version released under Conda is 7.2. And that means Seqan3 is currently not usable for me on our servers at the RKI.

[2019-08-07 11:11] h-2 commented on #649
Reviving this after discussions with @rrahn. The plan is to use variable templates and `constexpr`, but wrap single return types in std::type_identity which is then stripped by the `_t` shortcut:

[code]

I will prepare a small PR with my current state and @rrahn can take over from there! We will only add what we need when we need it.

[2019-08-07 11:18] JensUweUlrich opened #1203 "[Infra] Using SeqAn3 as external CMake project"
## Platform

  - SeqAn version: 3.0.0
  - Operating system: Ubuntu LTS 18.04
  - Compiler: GCC-7.4.0

## Question

I would like to add Seqan3 as an external project to the cmake configuration in order to simplify installation/update of my application. I could not find any HowTo, so how would you suggest to do it?

Thanks
Jens

[2019-08-07 11:33] eseiler commented on #1203
Hey Jens,

there's some information in our [CMake](https://github.com/seqan/seqan3/blob/197425505f10a9778b3433199a3e91da0cd24988/build_system/seqan3-config.cmake#L59) file.

If you have CMake >= 3.10 (I think), you can do something like this:

[code]

Otherwise you'd have to add
[code]
instead of `target_link_libraries (my_program seqan3::seqan3)`

[2019-08-07 11:59] marehr commented on #1203
You don't need the second version at all. (at least possible since cmake 3.4, might also work with prior versions, but we require that as minimum for different reasons)

[2019-08-07 12:17] eseiler commented on #1203
Good to know, we should add a HowTo.

[2019-08-07 14:00] marehr commented on #1203
I once proposed in a strategy meeting to remove those variables, because this way to use CMake is out-dated.

[2019-08-07 15:20] h-2 commented on #1203
@JensUweUlrich I thought that the setup guide covers this:
http://docs.seqan.de/seqan/3-master-user/setup.html#autotoc_md72

Is this something you read and found that it didn't help you? How would you propose that we change the documentation to make finding this easier? (honest question)

[2019-08-07 22:35] h-2 commented on #1202
According to #1121 conda has 7.3 which seems to work.

In any case I would strongly suggest filing a bug report with conda. Although they don't look that way, the "minor releases" of GCC are actually patch-level releases. Not getting patches seems like a real infrastructure problem.

If we needed to support every patch-level release, it would increase the compiler-matrix by a  factor of 10 right n

[2019-08-08 07:10] JensUweUlrich commented on #1203
Well... that's not exactly what I meant. This assumes, that you already downloaded seqan to some place in your filesystem. There is a possibility to define external projects in CMake like described [here](https://cmake.org/cmake/help/latest/module/ExternalProject.htmll). I already did this for google test & google mock. This is really comfortable because cmake then automatically downloads and buil

[2019-08-08 08:14] rrahn commented on #1203
If I am not mistaken you should be able to also just pull SeqAn to some directory. You need to disable the build step though since you don’t need it. Only thing that should be left is to tell Cmake where to find the SeqAn cmake config file and you should be good to go by including the SeqAn project as usual.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-08 08:38] JensUweUlrich commented on #1202
I completely unterstand your point. It's definitely not feasible for you to support every compiler version. I have to figure out how I could get the latest gcc7 version installed on our servers.

BTW: When trying to compile with gcc-7.3.0, I get the following error message:

In file included from /home/ulrichj/tools/seqan3/include/seqan3/io/sequence_file/input.hpp:34:0,
                 from /home

[2019-08-08 09:09] JensUweUlrich commented on #1203
Ok. That was my idea as well. I will try and tell you how it could work.

[2019-08-08 10:10] h-2 commented on #1203
Ah, now I know what you mean. Yes, I think we should definitely add instructions for that! @joshuak94 could you look into that and maybe add a Tutorial to the setup section once we have agreed on a procedure?

[2019-08-08 11:48] JensUweUlrich commented on #1203
Okay. I figured out how to do it.
The directory structure of my app is like the one described in the tutorial with a _build_ and _src_ directory. Within _src_ is the CMakeLists.txt that looks like this:

`cmake_minimum_required (VERSION 3.4)

SET(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -pthread")

project (AppName CXX)

# add all subdirectories
add_subdirectory(seqan)
add_subdirectory(main)
add_subdir

[2019-08-09 09:02] h-2 opened #1206 "macOS nightlies broken"
Looks like there was an operating system update which killed all the high sierra tests and many sierra tests.

[2019-08-09 11:46] rrahn commented on #1206
I‘ll check in the evening

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-09 18:10] rrahn commented on #1206
I checked and I can at least build everything locally. so either some one else already fixed it or I need to further investigate it. So let's see what the nightlies and other ci builds will say.

[2019-08-13 13:22] eseiler commented on #1203
If you just want to clone SeqAn3, you could also use git submodules. Then you just need `find_package (SeqAn3 REQUIRED HINTS ${CMAKE_SOURCE_DIR}/submodules/seqan3/build-system)` or similar. If you then clone your project with `--recurse-submodules`, the submodules of SeqAn3 are also cloned.

[2019-08-14 08:39] h-2 commented on #1087
All unit tests now pass with the latest snapshot.

[2019-08-14 09:06] h-2 commented on #1202
We have had other reports that GCC-7.3.0 works, but I can't double check that right now. Like I said, I would recommend creating a bug-report with Conda that the package needs updating.

I am not completely sure how Conda works, but a quick glance at the web-site shows that there are more recent packages also:
  * https://anaconda.org/anaconda/gxx_linux-64 (8.2.0)
  * https://anaconda.org/nwani/gx

[2019-08-14 15:09] mr-c opened #1211 "argument_parser/format_parse_validators_test fails under Debian "sid""
## Platform

  - SeqAn version: 3.0.0 and commit 1527991
  - Operating system: Linux mrc-tux 5.0.0-20-generic # 21~18.04.1-Ubuntu SMP Thu Jun 27 04:04:37 UTC 2019 x86_64 GNU/Linux (running a Debian sid userspace)
  - Compiler: c++ (Debian 8.3.0-19) 8.3.0

~~Using googletest version 1.8.1-3 instead of the requested https://github.com/google/googletest/commit/52f8183e7f3620cf03f321a2624eb0d4f7649f4c

[2019-08-14 15:20] #1142 closed

[2019-08-14 15:53] rrahn commented on #1206
fixed

[2019-08-14 15:53] #1206 closed

[2019-08-14 16:22] rrahn commented on #679
@h-2  ping

[2019-08-14 16:23] rrahn commented on #122
I think the iterator template tests this now and everything is fine

[2019-08-14 16:23] #122 closed

[2019-08-14 16:27] rrahn commented on #179
@cpockrandt is it realistic to get this until the end of August?

[2019-08-14 16:28] rrahn commented on #407
I am closing this since no one is responding so I assume this is fixed.

[2019-08-14 16:28] #407 closed

[2019-08-14 16:30] rrahn commented on #1099
I'll drop this for the current release. Since it is probably to complicated to get it done in time

[2019-08-14 16:36] eseiler commented on #679
Resolved.

[code]
Yields 0 and 1.

[2019-08-14 16:36] #679 closed

[2019-08-15 15:48] rrahn opened #1216 "Cigar documentation uses snippets from qualfied alphabet"
## Platform

  - SeqAn version: master

## Description

The documentation of the cigar alphabet shows examples for the qualified alphabet in many member function documentations.

[2019-08-15 15:49] rrahn commented on #1216
@joshuak94 Not sure if this is already taken care of in the snippets fix for the alignment file?

[2019-08-15 18:06] cpockrandt commented on #179
I plan to open a PR for the sdsl end of next week (I will also be in Berlin from 24th Aug til 31st Aug if we want to discuss something in person). Despite the pull request that I will open there are a few things to do until the interface and file format is final:

* making the sentinel character implicit (there is a branch on xxsds/sdsl-lite and also a rebased version of it on my fork that impleme

[2019-08-15 18:34] rrahn commented on #179
Ok, that sounds all very promising. I am in favor of having a working version also if it is restricted to some types. We can discuss the necessary todos for the backlog when you are here.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 15:03] eldariont opened #1218 "SAM/BAM: access to optional fields"
Hi,

I'm reading SAM/BAM files using seqan3's Alignment IO module in order to call variants. I now need to access the optional fields of a SAM/BAM file and as far as I can see this is not implemented yet. The optional fields can contain lots of useful information, e.g. about the supplementary alignments of a read (see Section 1.5 of the [specs](https://samtools.github.io/hts-specs/SAMv1.pdf)).
Do

[2019-08-16 16:31] h-2 commented on #1218
Yes, this is planned, absolutely! I am not sure if we have a time-frame, yet, I will discuss it with @smehringer on Monday.

[2019-08-16 16:34] h-2 commented on #1087
Hm, peculiarly, we have a failure again. But only a single one in the config system. @rrahn can you have a look?

[2019-08-16 16:35] eldariont commented on #1218
Cool, thanks Hannes!

[2019-08-17 23:54] marehr commented on #1194
Okay I found the problem and I think I have a fix. This is issue was funny, because they were two separate issues xD

One that had to do with the short-cut syntax of `Sentinel<>` that hide visibility errors, such as members being private/protected, but being accessed outside of the allowed scope.

And one ICE that has to do with `std::basic_ostream` and ranges.

[2019-08-19 06:31] smehringer commented on #1218
Hi @eldariont

What do you mean by optional fields? The tags (e.g. NM:i:3)?
Because this is already implemented when reading the `seqan3::TAGS` field into a `seqan3::sam_tag_dictionary`.

[2019-08-19 06:46] rrahn commented on #1087
I'll look into it.

[2019-08-19 06:52] smehringer commented on #1201
I guess we are. samtools only emits a warning, maybe we should too? Or just debug assert this and ignore in release.

[2019-08-19 07:26] smehringer commented on #1202
Hi @JensUweUlrich

In file included from /home/ulrichj/tools/seqan3/include/seqan3/io/sequence_file/input.hpp:34:0,
from /home/ulrichj/tools/ReadUntil/src/main/mhc.cpp:21:
...

This is a bug I already reported (#1106) because file IO cannot be included if the zlib is not present. We will try to fix this soon!

Thanks for reporting anyway :)

PS: Tiny style polish: It is very helpful for readabilit

[2019-08-19 08:00] rrahn commented on #1201
It depends. Is the format specification such that it is an ill-formed BAM file if the reference names are not present?
I guess, what we need is kind of a property that allows people to parse strict (ensuring the format is correct) and a less strict versions so users can disable the strict parsing on purpose. That could be a simple strong typed bool flag added to the constructor.

[2019-08-19 08:15] h-2 commented on #1201
We discussed this idea previously in the context of FastA and came to the conclusion that it is not feasible in general. Enforcing a strict format is much more expensive and enforcing it conditionally would mean adding a huge amount of if-checks that are also too expensive. We decided then that it is not important to reject wrong files as long as we accept all correct files. If someone wants stric

[2019-08-19 08:51] rrahn commented on #1201
Given the complexity of the format already, I doubt that anyone is writing it's own format. But my initial question was, is that a requirement by the specification? If not we don't have to do anything but remove this check. If it is a requirement by the specification we cannot remove the check. Having a option that allows some control of error logging is not a bad thing and I hardly doubt that thi

[2019-08-19 10:18] smehringer commented on #1201
The specification is not clear about this. It just assumes that header and record information are consistent.

It is necessary for our implementation though because we assign indices to our reference names to avoid storing redundant information. If we do not want to throw an error, we need to decide what happens with an "unknown" reference name. The easiest thing (and might be done by samtools, I

[2019-08-19 10:21] rrahn commented on #1201
I think that would be a good solution, but not without a diagnostic message that the ref could not be found and that all records depending on that ref are treated as unmapped records.

[2019-08-19 10:30] eldariont commented on #1218
Thanks! The `seqan3::TAGS` field is exactly what I need. 😃
Sorry for not finding it myself. I guess I only looked in the Tutorial (http://docs.seqan.de/seqan/3-master-user/tutorial_alignment_file.html#autotoc_md78) where it's not mentioned yet.

[2019-08-19 10:30] #1218 closed

[2019-08-19 11:51] mr-c opened #1220 "gcc 9.2.1: internal compiler error: in equal, at cp/constexpr.c:1088"
## Platform

  - SeqAn version: 3.0.0
  - Operating system: `Linux 370b2ea81811 5.0.0-20-generic #21~18.04.1-Ubuntu SMP Thu Jun 27 04:04:37 UTC 2019 x86_64 GNU/Linux` (Debian "unstable" Docker software container running on Ubuntu)
  - Compiler: `c++ (Debian 9.2.1-1) 9.2.1 20190813`

## Description

### How to repeat the problem

Use the following `Dockerfile`
[code]

### Expected behaviour

Compil

[2019-08-19 15:59] #892 closed

[2019-08-20 07:11] smehringer commented on #1218
I will add a tutorial section for it!

[2019-08-20 07:13] joshuak94 commented on #1216
I figured this was intentional because there is this note in the examples in the documentation:

"Note: Since the alphabet_tuple_base is a CRTP base class, we show the working examples with one of its derived classes (seqan3::qualified)."

Should this not be the case?

[2019-08-20 07:19] smehringer commented on #892
is this really done? I thought the PR was only for sequence files, then we should keep the issue for the other files.

[2019-08-20 07:42] rrahn commented on #892
Yep this done

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-20 07:48] rrahn commented on #1216
Well I personally find it less understandable. Also usually the documentation is not necessarily read from top to bottom when I am searching for something specific. Seeing a snippet with a different context might be noticed as a wrongly placed snippet.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-20 07:50] joshuak94 commented on #1216
Okay, I can change it. But I think I'll wait until the three pull requests I have are merged before I do that one!

[2019-08-22 17:24] mr-c opened #1226 "-DSEQAN_DISABLE_VERSION_CHECK missing from Seqan3"
For Debian we'd like a cmake-level directive to turn off version checking, thanks!

[2019-08-22 20:39] h-2 commented on #1226
We have discussed this fairly long and we decided not to offer it, because the current setup is already very complex and hard to test (obdviously it is important for us not get this wrong as users will be unhappy if a request is made against their choice).

The current system:
  * the developer can disable for their app
  * the administrator or user can deactivate globally on their system via an e

[2019-08-23 08:03] mr-c commented on #1226
@h-2 Thank you for the summary, can this be added to https://github.com/seqan/seqan3/blob/master/doc/howto/porting/index.md ?

[2019-08-23 08:52] marehr commented on #1194
Just for reference I reported it upstream https://github.com/ericniebler/range-v3/issues/1105 and it is now fixed upstream. I'll still add a PR to workaround it.

[2019-08-23 09:24] h-2 commented on #1194
Thanks for tracking this down!

I will update the range-v3 branch soon. So if that already fixes  everything for SeqAn, we don't need the other changes?

[2019-08-23 09:31] marehr commented on #1194
yeah.

:sob: I... put so much work in it!!! So I thought... I can still... do the PR :crying_cat_face: :cry:

(I'm just to good and fixed the problem at the root :sunglasses: )

The PR would add regression tests + original workaround.

[2019-08-23 10:34] h-2 commented on #1194
I understand that!

It's the best kind of solution :+1:

I am reluctant about adding a workaround for something that doesn't need working around, though..

[2019-08-23 10:46] marehr commented on #1194
Without workaround?

[2019-08-26 12:16] #1211 closed

[2019-08-29 07:48] joshuak94 commented on #1216
@rrahn I'm working on this now, but I'm not sure what snippets to put for the `indirect_component_type` snippets. For qualified, it uses the rna4 alphabet to construct a dna4q object. But for CIGAR, there is no subtype for the cigar_op alphabet...

[2019-08-29 08:41] rrahn commented on #1216
But then this documentation is not relevant for the CIGAR. So why not leave it away?

[2019-08-29 08:42] joshuak94 commented on #1216
I can remove the documentation for it.

[2019-08-29 14:17] eldariont opened #1231 "parse CIGAR std::string into std::vector<cigar>"
Hi all,

there are two locations for CIGAR strings in a SAM/BAM file:
- field::CIGAR returning the current alignment's CIGAR string as std::vector<cigar>
- SA tag returning the supplementary alignments' CIGAR strings as std::string

 I'm looking for a way to convert the second kind of CIGAR from std::string into std::vector<cigar>. There already is a private member function `parse_cigar` here: htt

[2019-08-30 10:56] h-2 commented on #1220
We are also seeing this in the nightlies since http://cdash.seqan.de/index.php?project=SeqAn3&date=2019-08-27

[2019-08-30 11:41] smehringer opened #1232 "File Input options are set after the first record is read"
## Description

Big program in file i/o. If you want to set options on the file, this can only be done AFTER an instance of sequence_file_input is created. This means that **the first record is always read with default options** :(

### How to repeat the problem

[code]

:sob:

This was never caught by our test because we only do detail tests of the formats but never with sequence files. I started

[2019-08-30 11:54] smehringer commented on #1232
I see two ways to solves this.
1. Make options a construction parameter.
2. Make a set_option function that alters the first record...

both are ugly

[2019-08-30 12:12] h-2 commented on #1220
Reported upstream as https://gcc.gnu.org/bugzilla/show_bug.cgi?id=91607

[2019-08-30 12:23] h-2 commented on #1087
All current errors on GCC10 are not related to the config system.

[2019-08-30 12:23] #1087 closed

[2019-08-30 12:26] rrahn commented on #1087
Of course not. It was ingeniously engineered 🚀  😆

[2019-08-30 12:31] h-2 commented on #1232
I only see one way to solve this:
Not reading the first record on construction and doing `if (first_run) ...` check everytime the iterator is dereferenced.

[2019-08-30 12:48] smehringer commented on #1232
This will be heavy on the run time :(

[2019-08-30 18:36] #1106 closed

[2019-09-02 05:56] smehringer commented on #1232
what about reading the first record when `begin` is called?

[2019-09-02 08:54] smehringer commented on #649
what's the status of this?

[2019-09-02 08:55] smehringer commented on #568
What's the status of this?

[2019-09-02 08:56] h-2 commented on #649
Done

[2019-09-02 08:56] #649 closed

[2019-09-03 15:23] paulmenzel opened #1239 "Use HTTPS URL in GitHub description"
Please use https://www.seqan.de/.

[2019-09-03 15:40] eseiler commented on #1239
Thanks for spotting!

I remember that we had some trouble with the `s` when the certificate was expired, but this is fixed now.

@core I'd just change it to `https` everywhere. We also have quite a few other links in the docs, and to `cppreference.com` in the code documentation.

[2019-09-03 16:30] eseiler commented on #1239
Actually, I can't change the the github description, but I did it everywhere else!

[code]

@h-2, @rrahn or @smehringer should have sufficient permissions.

[2019-09-04 09:07] smehringer commented on #1239
Good catch!
I changed the description.

[2019-09-04 09:07] #1239 closed

[2019-09-04 13:38] #1216 closed

[2019-09-05 13:28] #1232 closed

[2019-09-06 07:42] #1177 closed

[2019-09-09 08:52] h-2 commented on #1162
@cpockrandt We have merged the Async Input support. Can you try it out and see if it works as expected?

[2019-09-09 08:53] h-2 commented on #1162
(I will close this, but feel free to continue discussing or re-open if the PR did not address what you meant)

[2019-09-09 08:53] #1162 closed

[2019-09-09 08:53] smehringer commented on #1027
@jwinkler Since Mitra is not working on Seqan currently, could check the documentation? :)

[2019-09-09 08:57] smehringer commented on #837
Fixed by #1230 #1198 #1197 #1147 #1132 #1127 #1124 #1115

[2019-09-09 08:57] #837 closed

[2019-09-09 10:27] smehringer opened #1246 "Make index work with alphabets that are explicitly convertible to the index alph type"
----

This is a follow up from #471.

[2019-09-09 10:30] #471 closed

[2019-09-09 11:51] h-2 opened #1247 "Replace meta:: with our own stuff"
replace meta library usage with our traits in seqan3::list_traits:: / seqan3::pack_traits::

[2019-09-10 09:35] #1111 closed

[2019-09-10 11:11] smehringer commented on #111
@sarahet Do you know the status of this todo list? (Since you worked on several parts)

[2019-09-10 11:12] smehringer commented on #219
Whats the status of this?

[2019-09-10 11:13] smehringer commented on #227
There is a card for this in the projects so I am going to close this issue for now

[2019-09-10 11:13] #227 closed

[2019-09-10 11:19] smehringer commented on #273
Closing this in favour of a card In the Seqan4 project

[2019-09-10 11:22] smehringer commented on #351
Is this done?

[2019-09-10 11:25] smehringer commented on #1134
@marehr whats the status of this?

[2019-09-10 11:34] smehringer commented on #1202
Hi @JensUweUlrich

we fixed the issue with the zlib, so if you use the most recent version of gcc7 you should be fine.

Feel free to reopen the issue if you encounter any more problems.

[2019-09-10 11:34] #1202 closed

[2019-09-10 11:37] rrahn commented on #273
Who decided this? I am still in favor of switching to using std::error_codes instead of plain exceptions. Especially for the argument parser, the I/O and I am already planning it for the alignment. I guess Search can benefit from it as well. This has nothing to do with the referenced proposal. But it kind of is an open ticket in my icebox.

[2019-09-10 11:38] smehringer commented on #273
Huh? I was pretty sure we decided to keep all proposals as cards in the projects unless we decide to work on them in the current release (as a way to reduce the number of open and stale issues).

[2019-09-10 12:34] joshuak94 commented on #1247
`pack_traits::contains<type, pack_t>` will compile when `pack_t` is a `seqan3::type_list<>`, but then it always evaluates to false... Should it accept a type_list as a valid pack type?

[2019-09-10 12:37] h-2 commented on #1247
No, that's what we have `list_traits::contains` for. The pack traits treat all types (possibly after the first) as elements of the pack.

[2019-09-10 12:38] smehringer commented on #1247
Can't we explicitly delete the case that pack_t is a type_list to avoid errors?

[2019-09-10 12:38] h-2 commented on #1247
It doesnt evalauete to false if the type that you are looking for is a type_list. That's a valid scenario. You can have list of lists.

[2019-09-10 12:41] smehringer commented on #1247
hm... Is that really a use case?
This can cause quite a hassle if you misuse it. But I guess prohibiting it would be too restrictive

[2019-09-10 12:46] h-2 commented on #1247
Sure, why not?

Well they are in different namespaces.

Some of the trait implementations use each other so forbidding pack of type_list might also forbit type_list of type_list.

[2019-09-10 13:28] joshuak94 commented on #1247
I'm going to use this comment to make a list of things in meta that I don't think we have good alternatives for:

1. `meta::for_each(valid_formats{}, [&] (auto && fmt)` in io/detail/misc.hpp

[2019-09-10 13:31] smehringer commented on #1247
we do have that but in a detail namespace:
[`for_each_value`](http://docs.seqan.de/seqan/3-master-dev/group__algorithm.html#gab5e6830103075818b98cb48f099ff4ef)
an for_each_type

[2019-09-10 13:45] smehringer commented on #135
This was fixed by #212 long ago.

[2019-09-10 13:45] #135 closed

[2019-09-10 13:48] smehringer commented on #1122
Since hashing for containers is also linear do we still want to implement a constant version (by sampling or else)?

[2019-09-11 06:18] #1167 closed

[2019-09-11 09:23] rrahn commented on #273
Well, I agree in general, but I quite often said that I am working on a good way to manage the product backlog. So while I am trying out different arrangements of the things so that I am happy and everyone else has not to bother with another managing system (because that's what everyone decided), it gets a little disruptive for me when things vanish out of my control flow. Note, at the moment, due

[2019-09-11 09:51] rrahn commented on #1226
Yes we will document this properly in the migration guide.

[2019-09-12 21:13] rrahn opened #1259 "Add debug mode and output score and trace matrix"
For better debugging it would be great to have the trace matrix and the score matrix outputted as an alignment result.
This means to add these options to the alignment config or make a  new debugging config.

[2019-09-12 21:18] rrahn opened #1260 "Improve code readability in alignment algorithm"
Clean up the alignment algorithm implementation. At the moment all internal types are modeled as tuples. But the more complexity is added to the algorithm the harder it gets to read the code. Therefore it would be good introduce strong types so we have named accessors to the different values.In addition it might be necessary to formulate concrete concepts on the types so that the code can be used

[2019-09-12 21:20] rrahn opened #1261 "refactor traceback parser"
At the moment we use a traceback parsing algorithm for banded and unbanded, which are very alike. And in the case of simd alignment and block based processing this should be refactored into it's own class. This needs to be synchronised with the edit-distance algorithm as well.

[2019-09-12 21:27] rrahn opened #1262 "Implement a cache data structure for the alignment algorithm."
At the moment the cache for the computation of the alignment algorithm is a tuple structure. Since it gained some complexity the interface is not easy to read, since one needs to exactly know the order of the members of the cache structure. To make it more readable and extensible there should be a dedicated cache object that maintains the members and gives named access to the member variables.

##

[2019-09-12 21:28] #1262 closed, assigned to rrahn

[2019-09-12 21:29] rrahn opened #1263 "Some improvements to align result config"
Design the alignment result options in such a way, that they are ordered and include the previous options. This is to reduce this code:

[code]

to
[code]

[2019-09-13 10:34] JensUweUlrich commented on #1202
Thanks a lot! Now it works fine with gcc-7.3.0.

Best wishes
Jens

[2019-09-16 09:42] smehringer commented on #111
@h-2 , since Sara is on vacation, would you mind answering on her behalf since you presumably know the state?

[2019-09-16 10:41] smehringer commented on #532
I added cards for the remaining to open feature points about the min/max validator and required options so this can be closed

[2019-09-16 10:41] #532 closed

[2019-09-16 14:32] h-2 opened #1268 "Alphabet module TODOs"
- [ ] enforce that underlying_char_t is a builtin_character and document this
  - [ ] decide whether to move over alphabet related views
  - [ ] debug and/or report original proxy implementation that causes ICEs

[2019-09-16 15:16] smehringer commented on #1134
@marehr ping

[2019-09-16 16:58] smehringer commented on #1010
I did a bit of research but I could not find anything usable in this way.

The doxygen special command `\headerfile` does only work for classes and structs.

There is no functional macro to get the current file (at least I could not find one) for doxygens preprocessor.

Do we want a simple doxygen command anyway? something like `\header myfile.hpp` that resolves to the the markdown in rrahn's exam

[2019-09-16 17:11] smehringer commented on #754
Since doxygen 1.8.16 was released we should try to see if we can update our documentation.

[2019-09-16 17:38] eseiler commented on #1010
https://stackoverflow.com/questions/38513580/how-to-create-a-doxygen-link-to-the-same-file

Quite hacky, though

[2019-09-16 18:37] smehringer commented on #443
I don't know if there was a case for this when I created the issue but writing temporaries works just fine so I am closing this.

[2019-09-16 18:37] #443 closed

[2019-09-16 18:38] smehringer commented on #1010
yeah, I saw this but I thought we do not want a bash script or python or whatsoever as to not pollute the repository

[2019-09-16 18:44] smehringer commented on #715
@h-2 There is the alphabet_tuple_test_template.hpp so I guess this can be closed?

[2019-09-16 18:51] smehringer commented on #1101
@seqan/core All of this was fixed except what we cannot influence directly. Should be leave this issue open or close this?

[2019-09-16 18:53] smehringer commented on #1112
@marehr whats the state of this?

[2019-09-16 19:35] rrahn commented on #1112
We should remove the interface completely. It doesn’t help the user to get a matrix position back since he doesn’t care about the internal structure of the algorithm.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-16 22:00] joergi-w commented on #1112
Wait... As a user I want to know the start and end position of a local or semi-global alignment. I agree that the term _coordinate_ is too technical, but we should still provide the location of an alignment.

[2019-09-17 05:42] smehringer commented on #1268
- [ ] Check the usage of alphabet CPOs in the library. e.g. in the alphabet base we still use unqualified look up

[2019-09-17 05:43] rrahn commented on #1112
Sorry, that was to unspecific. Of course we continue to output the positions but not as pairs/coordinates but as single positions.

[2019-09-17 05:50] rrahn commented on #1101
Can we not bug them again? Ask what the state about this is?

[2019-09-17 05:52] rrahn commented on #1010
No, no weird scripts that need to run when something changes.

I would slightly prefer this.

[2019-09-17 05:56] rrahn commented on #1135
But then you have to expose the internal data by making it public.

I am wondering if the column based interface is not overspecified anyway. Do we have a benchmark that shows strong benefits in terms of performance when reading  an entire column instead of the records?

[2019-09-17 06:43] smehringer commented on #1135
hm.. and if we provide a get member function that we can delegate to?

For sequence and structure files this is very handy as you do not need a for loop (the equivalent of `readRecords` in seqan2). I don't know if it makes a performace difference.

[2019-09-17 06:44] smehringer commented on #1101
Go ahead :D

[2019-09-17 07:51] smehringer commented on #275
@h-2 Do you know if there are updates on this? Can we reevaluate this?

The first bug you reported (86243) is fixed by now.

[2019-09-17 07:56] smehringer commented on #1203
@JensUweUlrich @eseiler Is there something left to do here or is this resolved?

[2019-09-17 09:39] marehr commented on #1134
TBD

[2019-09-17 10:18] JensUweUlrich commented on #1203
Can be closed from my side.

[2019-09-17 10:41] smehringer commented on #1203
@eseiler  is there something we should update in the tutorials?

[2019-09-17 11:06] marehr commented on #754
Current complete warnings when building doc_dev:

* [ ] [seqan3/include/seqan3/alignment/matrix/detail/aligned_sequence_builder.hpp:134](https://github.com/seqan/seqan3/blob/cfea39c4248adeef490b491778231dc32c654507/seqan3/include/seqan3/alignment/matrix/detail/aligned_sequence_builder.hpp#L134)
  :warning: Member aligned_sequence_builder(fst_rng_t fst_rng, sec_rng_t sec_rng) (function) of class se

[2019-09-17 11:15] h-2 commented on #1203
I still think we should figure this out and add things to the tutorials.

[2019-09-17 12:49] smehringer commented on #715
@h-2 ping

[2019-09-17 13:04] #715 closed

[2019-09-18 06:45] rrahn commented on #1135
Well, we can offer a zipped back_inserter. Then you can do what you want in one line of code.

[code]
This it what it does in the end anyway?! Another benefit, I can now easily chunk the data if I want to. Something that I had to do record wise before anyway. This is all more in line with other concepts like the async_input_buffer view now as well. I really believe that offering a column interface

[2019-09-18 07:29] smehringer commented on #1135
I like the idea. lets discuss this on monday

[2019-09-18 10:57] h-2 commented on #1135
I had the idea and a preliminary implementation of `view::unzip` a while ago, that transforms a range of tuples into a tuple of ranges. This would be another "sink/terminal view" adaptor as is it does not return a view.

It would allow

[code]

The problem that neither this approach (nor your proposal) solve is that we still have multiple dispatch in this case. Doing it inside the file allows to d

[2019-09-18 11:18] #754 closed

[2019-09-18 14:02] mr-c commented on #1168
Any plans on including a `seqan.pc.in` again? I think this would remove the need for users to specify `CMAKE_PREFIX_PATH=$PREFIX/share/cmake` to find the `seqan3-config.cmake`

[2019-09-18 14:17] marehr commented on #1168
If I remember correctly `.pc.in` was autotools, right? I think we had someone external who contributed this file. I personally never used `seqan.pc.in`, but if you find it useful, we can add it again.

For me it would be important to have some instruction on how to use it. So that we can test it and know that it works as intended.

[2019-09-18 14:22] marehr commented on #1168
@johnlees Sorry, that the PR stagnated. @eseiler We should resume our work on the pr soonish.

[2019-09-19 08:23] mr-c opened #1272 "Proposal: Split out seqan3/argument_parser into its own project"
Motivation:
- to be usable by more projects, like https://github.com/vgteam/vg/
- make it more attractive for others to enhance the argparser (adding CWL export, etc)

I offer to help manage this and to do some of the work.

This could also be a good project for a undergraduate student, Google Summer of Code, or Outreachy. For any of those I offer to co-mentor with someone who has more C++ experie

[2019-09-19 08:31] mr-c commented on #1203
@marehr Maybe this issue should be re-opened & retitled ?

[2019-09-23 10:08] smehringer opened #1274 "sequence file column based reading benchmark"

[2019-09-23 10:10] smehringer commented on #1135
Let's wait for #1274 to see the performance difference.
If the performance drop `< 10%` we will remove the get interface.

[2019-09-24 12:12] cmeesters opened #1276 "options_description in argument parsing as in boost"
Hi,

Wouldn't it be nice to have a program option grouping similar too boost's grouping of command line options, see https://www.boost.org/doc/libs/1_71_0/doc/html/program_options/overview.html#id-1.3.32.5.7 ?

Motivation: Complex interfaces are displayed best not in one entire convoluted grey-ish blob on screen, but in semantically ordered groups - much like the standard and advanced options in s

[2019-09-24 14:55] #1056 closed

[2019-09-25 09:26] cmeesters commented on #1276
Hi,

Thanks! Ouch - I completely overlooked that part - indeed this is the already implemented solution to this obvious issue.

Best,
Christian

[2019-09-25 09:26] #1276 closed

[2019-09-26 10:09] #1226 closed

[2019-09-26 19:24] JensUweUlrich opened #1280 "Hashing algorithm in kmer_hash view?"
## Platform

  - SeqAn version: 3.0.0
  - Operating system: Linux
  - Compiler: gcc-7.4.0

## Question

I wonder which hashing algorithm the kmer_hash view does use internally. MurmurHash? Or something really trivial? Do you know where I can find information about the collision rate for certain kmer sizes?

Thanks!
Jens

[2019-09-30 11:20] eseiler commented on #1280
Hey Jens,

the `kmer_hash_view` just uses a form of arithmetic coding. A string/symbol is interpreted as a number to base sigma - there cannot be collisions.
E.g. for dna4
[code]
results in `0 * 4^3 + 1 * 4^2 + 2 * 4^1 + 3 * 4^0 = 27`.

Best,
Enrico

[2019-09-30 12:05] JensUweUlrich commented on #1280
Hi Enrico,

thanks for your quick response.

How will positions masked by a shape count in this equation? Are they just ignored?

Best,
Jens

[2019-09-30 12:08] eseiler commented on #1280
Just ignored, e.g. `ACGT` and a shape `101` will result in `AG`(2) and `CT`(7) being hashed.

[2019-09-30 13:43] #412 closed

[2019-09-30 13:46] #531 closed

[2019-09-30 13:47] #886 closed

[2019-09-30 13:48] eseiler commented on #1183
Will be fixed by updating google test.

[2019-09-30 13:48] #1183 closed

[2019-09-30 13:49] smehringer commented on #416
Closed in favour of a card

[2019-09-30 13:50] #1274 closed

[2019-09-30 13:50] eseiler commented on #1280
Feel free to reopen if you have any further questions!

[2019-09-30 13:50] #1280 closed

[2019-09-30 13:50] #166 closed

[2019-09-30 13:51] #1135 closed

[2019-09-30 13:51] #416 closed

[2019-09-30 13:51] #168 closed

[2019-09-30 13:51] #1123 closed

[2019-09-30 13:53] smehringer commented on #916
This is already mentioned in #290

[2019-09-30 13:53] #916 closed

[2019-09-30 13:53] #1113 closed

[2019-09-30 13:54] smehringer commented on #941
Closed in favour of a card

[2019-09-30 13:54] rrahn commented on #1099
Will revisit later

[2019-09-30 13:54] #1099 closed

[2019-09-30 13:54] #568 closed

[2019-09-30 13:55] smehringer commented on #914
Closed in favour of a card

[2019-09-30 13:55] #914 closed

[2019-09-30 13:55] #896 closed

[2019-09-30 13:56] #404 closed

[2019-09-30 13:57] #375 closed

[2019-09-30 13:58] smehringer commented on #969
This should be re-evaluated when the file formats are restructured. I added a card.

[2019-09-30 13:58] #969 closed

[2019-09-30 13:59] #275 closed

[2019-09-30 14:00] #273 closed

[2019-09-30 14:01] #240 closed

[2019-09-30 14:01] smehringer commented on #1103
We will re-evaluate this when we work on the range module

[2019-09-30 14:01] #1103 closed

[2019-09-30 14:01] #232 closed

[2019-09-30 14:02] rrahn commented on #350
Seems not relevant anymore.

[2019-09-30 14:02] #350 closed

[2019-09-30 14:03] rrahn commented on #351
Seems not relevant anymore

[2019-09-30 14:03] #351 closed

[2019-09-30 14:04] #1122 closed

[2019-09-30 14:05] #290 closed

[2019-09-30 14:06] rrahn commented on #576
Needs to be reevaluated if this is even necessary

[2019-09-30 14:06] #576 closed

[2019-09-30 14:06] smehringer commented on #1101
For the remaining task a card was added

[2019-09-30 14:06] #1101 closed

[2019-09-30 14:07] #327 closed

[2019-09-30 14:09] rrahn commented on #345
Will be planned for the alignment changes

[2019-09-30 14:11] #1166 closed

[2019-09-30 14:12] h-2 commented on #1080
Turned into a card https://github.com/seqan/seqan3/projects/10#card-27119143

[2019-09-30 14:12] #1080 closed

[2019-09-30 14:12] h-2 commented on #382
turned into car https://github.com/seqan/seqan3/projects/10#card-27119202

[2019-09-30 14:12] #382 closed

[2019-09-30 14:14] #450 closed

[2019-09-30 14:14] #511 closed

[2019-09-30 14:16] #187 closed

[2019-09-30 14:17] marehr commented on #219
Even on recent gcc's this is to slow.

[2019-09-30 14:22] marehr commented on #591
Hi @fungs,

we are adding this to our long term todo list. As soon as someone is working on it, we will reopen the issue.

See https://github.com/seqan/seqan3/projects/17#card-27119766

[2019-09-30 14:22] #591 closed

[2019-09-30 14:25] #468 closed

[2019-09-30 14:27] h-2 commented on #728
Views are not ostreamable according to the draft standard so we neednt worry about this.

[2019-09-30 14:27] #728 closed

[2019-09-30 14:30] rrahn commented on #862
We will reevaluate this later!

See https://github.com/seqan/seqan3/projects/7#card-27120401

[2019-09-30 14:30] #862 closed

[2019-09-30 14:34] #890 closed

[2019-09-30 14:41] marehr commented on #1163
Hi @mr-eyes,

we are adding this to our long term todo list. As soon as someone is working on it, we will reopen the issue. Thank you for reporting!

See https://github.com/seqan/seqan3/projects/17#card-27121065

[2019-09-30 14:41] #1163 closed

[2019-09-30 14:42] #1182 closed

[2019-09-30 14:45] marehr commented on #1195
maybe related to #1081

[2019-10-01 06:01] #1246 closed

[2019-10-02 19:49] eseiler commented on #1168
Done!

[2019-10-02 19:49] #1168 closed

[2019-10-02 19:51] rrahn commented on #1168
Can we track this then in another card since this was now closed. I guess it does not involve the pc file right?

[2019-10-04 11:37] #1010 closed

[2019-10-04 12:25] sarahet commented on #111
@smehringer I will work on the benchmark next week.

[2019-10-07 08:03] anbratu opened #1287 "code snippets in SeqAn tutorial"
I'm going throug to the SeqAn Tutorial in detail at the moment. After consultaion of @eseiler, my plan is to correct some irregularities and missing lines in the code snippet. Is anyone else working on this?

[2019-10-07 09:02] eseiler commented on #1287
Thanks!

I'll work on the SetUp Tutorial this week - but rather text than snippets- otherwise no one's working on tutorials.

[2019-10-07 16:49] #1131 closed

[2019-10-07 17:06] #720 closed

[2019-10-08 12:42] #1268 closed

[2019-10-08 12:54] smehringer commented on #1194
Fixed by #1267

[2019-10-08 12:54] #1194 closed

[2019-10-08 12:57] smehringer commented on #776
Did we assign someone to do this within the week?

[2019-10-09 16:16] #1081 closed

[2019-10-11 12:14] eseiler opened #1292 "Temporary directories/files not cleaned up correctly"
We are not removing directories created by
[code]

In these tests we create a non-existent directory (`I/do/not/exist.{dbn,sam,fasta}`).
The destructor will call
https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/test/include/seqan3/test/tmp_filename.hpp#L111
Which only deletes the parent directory, i.e. `I/do/not`, leaving the temporary directory intact.

Also snippets

[2019-10-15 18:24] h-2 commented on #713
resolved by #1285

[2019-10-15 18:24] #713 closed

[2019-10-21 06:07] smehringer opened #1299 "Alignment Vectorisation - add score_type to result configuration"
[code]

**TASK: Add score_type to align_cfg::result**

- [x] Change definition of [align_cfg::result](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/configuration/align_config_result.hpp#L90-L97)
- [x] Add default value to type deduction guides.
- [x] ~~Add tests to [align_config_common_test.cpp](https://github.com/seqan/seqan3/blob/8993bb63e

[2019-10-21 11:19] marehr opened #1300 "Are matrices simd aware? - check if value type `simd_type` is working in two_dimensional_matrix"
**TASK: check if value type `simd_type` is working in two_dimensional_matrix**

- [x] check if `seqan3::detail::two_dimensional_matrix<simd_type<int>>` is working; see [two_dimensional_matrix](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/matrix/detail/two_dimensional_matrix.hpp#L58-L61) and [simd_type](https://github.com/seqan/seqan3/blob/8

[2019-10-21 13:15] svnbgnk opened #1308 "Range awareness - level1"
**TASK: execution_handler_sequential should operate on a range of sequence pairs**

- [x] add interface that takes range of sequence pairs, i.e. `execution_handler.execute(config, start_id, [(s1,s2),...],callback)` in execution_handler_sequential; see [execution_handler_sequential](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/pairwise/execu

[2019-10-22 07:16] joergi-w opened #1309 "New configurations – vectorise and parallel"
[code]

**TASK: add config id's**

- [x] add config id `parallel` and  `vectorise` to [alignment/configuration/detail.hp](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/configuration/detail.hpp#L23-L35)
- [x] and change [support matrix](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/conf

[2019-10-22 13:34] rrahn opened #1314 "Make the advanceable_alignment_cooridnate SIMD aware and use it for the alignment trace matrix if it is simd."
-[ ] Add test for SIMD advanceable alignment coordiante
-[ ] Adapt the advanceable alignment coordinate
-[ ] update the documentation
-[ ] fix the alignment coordinate that should only represent a sclar type
-[ ] use in internal alignment interfaces the advanceable rather than the standard alignment coordinate

[2019-10-22 14:17] SGSSGene opened #1315 "Search on bi_fm_index doesn't find all matches"
## Platform

  - SeqAn version: seqan3 - commit f436e1c53d89451791bb6bfc0029becbff7c3fbd (master) - happens with older version too.
  - Operating system: Linux schenker 5.3.6-arch1-1-ARCH #1 SMP PREEMPT Fri Oct 11 18:28:05 UTC 2019 x86_64 GNU/Linux
  - Compiler: gcc 9.2.0

## Description
Using a bi_fm_index with optimum search schemes, doesn't return all matches.

### How to repeat the problem
Let

[2019-10-22 15:26] eseiler commented on #1315
Thank you for reporting!

This should be fixed by #1316

When dealing with text collections, we currently just merge the texts with a delimiter. We implicitly expect to encounter at least 1 delimiter in the modified text.
If we only have one text in the collection, we need to append 1 delimiter at the end, since merging 1 text with a delimiter just returns the text without delimiter.

[2019-10-22 15:46] SGSSGene commented on #1315
Wow! Thank you. This was a fast fixed. I will test it tomorrow. Does this fix means I have to rebuild my indices?

[2019-10-22 15:52] eseiler commented on #1315
Yes, unfortunately. But only for those indices where you built the index over a text collection, but only had one element in the text collection, i.e. like your example.
If you had multiple entries in the collection, e.g. `auto genome  = std::vector<std::vector<seqan3::dna4>> {{"ACGTACGTC"_dna4}, {"ACGATACG"_dna4}};`, the index remains the same and you do not have to rebuild.

[2019-10-23 10:45] marehr opened #1317 "Visibility error with short notation and guideline"
[code]

good news: gcc 10 fixes it

https://godbolt.org/z/pbriIq

[2019-10-24 09:11] rrahn commented on #1314
Ok after some prototyping it turned out that this would not be the best approach as it destroys the functionality to put it as an argument to the iota view.

[2019-10-24 10:24] rrahn opened #1319 "### Vectorise Scoring Schemes - level1"
[code]

**TASK: write class that converts a scoring_scheme into a vectorised scoring_scheme I/II**

- [x] TODO: where to place this class
- [x] Add `vectorised_scoring_scheme` in [include/seqan3/alignment/scoring](https://github.com/seqan/seqan3/tree/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/scoring)
- [x] Write tests, s.t. vectorised_scoring_scheme will be tested on any gi

[2019-10-25 08:39] #1259 closed

[2019-10-25 08:39] #1260 closed

[2019-10-25 08:39] #1261 closed

[2019-10-25 08:39] #1263 closed

[2019-10-25 08:56] joergi-w opened #1321 "Vectorise configuration"
**TASK: Add vectorise configuration**

- [x] Depends on [add config id's](https://github.com/seqan/seqan3/projects/10#card-27980956)
- [x] Create a new file `align_config_vectorise.hpp` in [include/seqan3/alignment/configuration](https://github.com/seqan/seqan3/tree/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/configuration)
- [x] Use [align_config_max_error](https://github.co

[2019-10-25 11:48] #1309 closed

[2019-10-25 12:29] Irallia opened #1323 "Parallel configuration"
**TASK: Add parallel configuration**

- [x] Depends on [add config id's](https://github.com/seqan/seqan3/projects/10#card-27980956)
- [x] Create a new file `align_config_parallel.hpp` in [include/seqan3/alignment/configuration](https://github.com/seqan/seqan3/tree/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/configuration)
- [x] Use [align_config_max_error](https://github.com/

[2019-10-26 09:25] ppericard opened #1327 "Getting field::ALIGNMENT leads to crash with some softclipped SAM records"
## Platform

  - SeqAn version: lastest commit to date (`c326cff`)
  - Operating system: `Linux ppericard-matam-dev 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
  - Compiler: `g++ (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0`

## Description

When outputting fields from SAM alignment records, the program crashes with the following error only when getting fi

[2019-10-28 10:43] svnbgnk opened #1328 "Range awareness - level1"
**TASK: add new call operator to alignment_algorithm**

- [x] Add new call operator; see [alignment_algorithm.hpp](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/pairwise/alignment_algorithm.hpp#L143-L146)
- [x] that takes a range, calls the two sequences call operator on each sequence pair and writes the results into a vector, return the vec

[2019-10-28 10:57] marehr opened #1329 "Investigate if first best score or last best score has a performance impact for myers."
https://github.com/orgs/seqan/projects/4#card-22605030

[2019-10-28 15:18] smehringer commented on #1327
Hi @ppericard

Thanks for reporting this! I could reproduce your error and already tracked down the bug.

[2019-10-29 15:16] #1299 closed

[2019-10-29 15:28] rrahn opened #1333 "### Vectorise Scoring Schemes - level1"
**TASK: write class that converts a scoring_scheme into a vectorised scoring_scheme II/II**

- [x] `seqan3::simd::simd_traits<simd_t>::length` might be helpful; see [simd_traits.hpp](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/core/simd/simd_traits.hpp#L37-L64)
- [x] (NOTE: this class does not need to fulfil the [scoring_scheme concept](https://gith

[2019-10-29 15:41] rrahn opened #1334 "### Range awareness - level1"
**TASK: add new call operator to edit_algorithm**

- [x] Add new call operator; see [edit_distance_algorithm.hpp](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/pairwise/edit_distance_algorithm.hpp#L70-L79)
- [x] that takes a range, calls the two sequences call operator on each sequence pair and writes the results into a vector, return the ve

[2019-10-30 12:11] joergi-w opened #1336 "Apply vectorise and parallel configs"
**TASK: Use configuration (keep old infrastructure for now)**

- [x] Depends on [Add parallel configuration](https://github.com/seqan/seqan3/projects/10#card-27981006)
- [x] Depends on [Add vectorise configuration](https://github.com/seqan/seqan3/projects/10#card-27981306)
- [x] In [align_parwise](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignmen

[2019-10-31 13:16] svnbgnk opened #1338 "Range awareness - level1"
**TASK: execution_handler_parallel should operate on a range of sequence pairs**

- [x] add interface that takes range of sequence pairs, i.e. `execution_handler.execute(config, start_id, [(s1,s2),...],callback)` in execution_handler_parallel; see [execution_handler_parallel.hpp](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/pairwise/executi

[2019-10-31 14:24] kloetzl opened #1339 "views::translate overflows buffer"
I have the feeling that views:translates has an off-by-one error leading to a buffer overflow.

## Platform

  - SeqAn version: 3.0.0-440-g40d8d895
  - Operating system: Linux 5.3.7-arch1-1-ARCH
  - Compiler: g++ (GCC) 9.2.0

## Description

### How to repeat the problem

Try the [ranges/views tutorial](https://docs.seqan.de/seqan/3-master-user/tutorial_ranges.html) with tiny inputs.

[code]

###

[2019-10-31 14:49] smehringer commented on #1339
Hi @kloetzl,

thanks for reporting this! Seems like a bug.

@h-2 Do you have time to take a look?

[2019-10-31 15:50] h-2 commented on #1339
Thanks for reporting, I have fixed the underflows.

[2019-10-31 15:58] kloetzl commented on #1339
That was quick!

[2019-11-01 12:41] #1339 closed

[2019-11-01 16:11] ppericard opened #1344 "Change seqan3::cigar variable names in doc"
In the documentation for how to get CIGAR fields from alignment files (for example https://docs.seqan.de/seqan/3-master-user/tutorial_alignment_file.html) the variable containing that CIGAR is named "cigar", which clashes with the seqan3::cigar class when using namespace seqan3.
Just saying ;-)
Cheers and thanks for all the good work

[2019-11-01 17:08] rrahn commented on #1344
thanks for the hint. We'll look at this.

[2019-11-02 11:27] ppericard opened #1345 "Equivalent to Seqan2 BamFlags operations"
Is there an equivalent to Seqan2 BamFlags operations when reading Alignment files?
Something like `bool hasFlagRC(flag)` that would do the correct bitwise operations on a field::FLAG variable?

If not, could you give me an example how to correctly do the bitwise operations with Seqan3 to determine for example if a read was reverse-complemented before being aligned ?

Thanks
Pierre

[2019-11-02 12:58] h-2 commented on #1345
I thought that we implemented `field::FLAG` as an enum type, but apparently this is not the case and it currently is just a `uint16_t`. That's definitely something we need to change.

[2019-11-02 12:59] h-2 commented on #1345
@smehringer This should be a fairly simple issues, maybe you can assign it to one of the new team members.

[2019-11-03 17:51] #1327 closed

[2019-11-04 07:27] smehringer commented on #1327
Hey @ppericard,

I hope the fix is working for you! If not, feel free to reopen this issue.

[2019-11-04 07:31] smehringer commented on #1345
Oh, this was a todo that got lost in the process.
Thanks for opening this issue @ppericard.

I'll see when we have time to work on this but since it is fairly simple it shouldn't be too long from now.

[2019-11-04 11:23] ppericard commented on #1327
@smehringer Yep everything works now

[2019-11-04 21:37] #1334 closed

[2019-11-04 21:49] rrahn opened #1349 "### Range awareness - level1"
**TASK: only one constructor for alignment_executor_two_way**

- [x] merge constructor without execution policy; see [alignment_executor_two_way](https://github.com/seqan/seqan3/blob/8993bb63efa8f844f23bd2207e9bac1061c94bd1/include/seqan3/alignment/pairwise/execution/alignment_executor_two_way.hpp#L112-L116)
- [x] with the other constructor and give exec the default value  sequenced_policy; see [a

[2019-11-05 08:11] rrahn opened #1351 "### Vectorisation level 1"
generate the alignment results for global unbanded alignment with only the score when all sequences in the batch have the same length.

- [x] test score computation for global alignment with simd length many sequences

[2019-11-05 09:45] rrahn opened #1352 "### Vectorise Scoring Schemes - level2"
**TASK: Use gather in vectorised_scoring_scheme.score()**

- [ ] Depends on [write class that converts a scoring_scheme into a vectorised scoring_scheme](https://github.com/seqan/seqan3/projects/10#card-27981564)
- [ ] preprocess in the constructor, s.t. we can use a gather in score()

[2019-11-05 09:48] rrahn commented on #1352
Please look into the following PR with a reference implementation for the match_mismatch scoring scheme: #1332

You find the simd relevant stuff in `seqan3/core/simd/...`
For example:

[code]

You can also add the compiler flag -msse4 so you see actual vector elements with more than one element.

[2019-11-05 10:04] rrahn opened #1353 "### Range awareness - level2"
**TASK: add new parameter to alignment_executor_two_way constructor for chunking**

- [ ] Depends on [only one constructor for alignment_executor_two_way](https://github.com/seqan/seqan3/projects/10#card-27977457)
- [ ] add new chunking parameter `alignment_executor_two_way{sequence_pair_range,algorithm, execution_policy[, chunking = 1]}`
- [ ] test new parameter interface
- [ ] add documentation

[2019-11-05 12:49] rrahn opened #1355 "### Range awareness - level3"
**TASK: Chunk range of sequence pair according to the given parameter in alignment_executor_two_way**

- [ ] Depends on [add new parameter to alignment_executor_two_way constructor for chunking](https://github.com/seqan/seqan3/projects/10#card-27977538) (#1354)
- [ ] Chunk the range accordingly.
- [ ] [OPTION1] Call execution handler on each element in the chunk. See [alignment_executor_two_way](h

[2019-11-05 15:06] rrahn opened #1357 "### Range awareness - level2"
**TASK: Pass given range directly in execution handler**

- [ ] Depends on [execution_handler_sequential should operate on a range of sequence pairs](https://github.com/seqan/seqan3/projects/10#card-27977085)
- [ ] Depends on [execution_handler_parallel should operate on a range of sequence pairs](https://github.com/seqan/seqan3/projects/10#card-27977114)
- [ ] Depends on [add new call operator to

[2019-11-05 15:12] #1321 closed

[2019-11-07 09:29] #1323 closed

[2019-11-07 09:30] Irallia commented on #1323
Done with

[2019-11-07 15:16] #1349 closed

[2019-11-08 12:42] #1353 closed

[2019-11-12 08:48] #1247 closed

[2019-11-12 09:08] #1357 closed

[2019-11-13 14:21] #1319 closed

[2019-11-13 14:21] #1333 closed

[2019-11-13 16:14] Irallia opened #1364 "Remove "using namespace seqan3;" from DOC - Tutorial"
Chapters:
- [x] First steps
- [x] Parsing command line arguments
- [x] C++ Concepts
- [x] Alphabets
- [x] Ranges
- [x] Sequence file I/O
- [x] Computing pairwise alignments
- [x] Index and Search
- [x] Alignment file I/O
- [x] Implement your own read mapper

[2019-11-14 08:18] smehringer commented on #1364
Maybe make one PR per tutorial and in the code per module, such that the PRs don't become too big :)

[2019-11-14 17:16] #1355 closed

[2019-11-14 17:17] #1328 closed

[2019-11-17 17:46] mr-c opened #1365 "Build fails on i386"
## Platform

  - SeqAn version: 3.0.0
  - Operating system: Linux 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) amd64 (x86_64)
  - Compiler: 9.2.1

## Description

### How to repeat the problem

Build the seqan3 debian package on an i386 system

### Expected behaviour

Build complete

### Actual behaviour

[code]
Full log: https://buildd.debian.org/status/fetch.php?pkg=seqan3&arch=i3

[2019-11-18 11:19] rrahn opened #1366 "Improve error message for alphabet assign_char_strictly with `typeid`"
In the PR #1248 we removed the dependency to get_display_name and replaced it with something that would make the error message not readable anymore. Replace this with typeid()

[2019-11-19 14:59] h-2 commented on #1317
Since our static_asserts redirect here, we should maybe add instructions on how to solve the problems, too!

[2019-11-19 15:03] rrahn commented on #1317
Sorry, but I don't understand exactly what you mean with this. Can you elaborate it a little bit more for me? Many thanks!!!!

[2019-11-19 15:10] h-2 commented on #1317
@marehr has added tests that give static assert if a header produces the visibility bug. That static asserts tells people to go here. This issue has a description of problematic syntax, but does not have a clear guide to (a) find the offending code in your code-base; and (b)  how to fix it.

e.g. use intermediate concept syntax instead of short syntax for two-type concepts. And extra parantheses a

[2019-11-19 16:35] rrahn commented on #1317
Ah ok, thanks for clarifying. That would be indeed useful.

[2019-11-21 14:44] #1352 closed

[2019-11-21 14:45] #1336 closed

[2019-11-22 13:10] rrahn opened #1372 "### Range awareness - level4"
**TASK: Pass a chunk of the range directly to the execution handler**

- [x] Depends on [Chunk range of sequence pair according to the given parameter in alignment_executor_two_way](https://github.com/seqan/seqan3/projects/10#card-27977713)
- [x] Depends on [execution_handler_sequential should operate on a range of sequence pairs](https://github.com/seqan/seqan3/projects/10#card-27977085)
- [x] De

[2019-11-22 13:14] rrahn opened #1374 "### Range awareness - level3"
**when algorithm is only called with the new call operator()**
- [x] Depends on [Pass given range directly in execution handler](https://github.com/seqan/seqan3/projects/10#card-27977398)
- [x] make single sequence interfaces `alignment_algorithm(start_idx, s1,s2) -> ar` private and give it a new name
- [x] update tests if needed

[2019-11-22 13:15] rrahn opened #1375 "### Range awareness - level5"
**TASK: Remove (single) sequence pair syntax in execution_handler_sequential and execution_handler_parallel**

- [x] Depends on [Pass a chunk of the range directly to the execution handler](https://github.com/seqan/seqan3/projects/10#card-27979762)
- [x] Remove (single) sequence pair syntax in execution_handler_sequential and execution_handler_parallel
- [x] update documentation and tests

[2019-11-22 13:16] rrahn commented on #1308
resolved by #1325

[2019-11-22 13:16] #1308 closed

[2019-11-22 13:17] rrahn commented on #1366
resolved by #1367

[2019-11-22 13:17] #1366 closed

[2019-11-22 13:20] rrahn commented on #1338
resolved  by #1356

[2019-11-22 13:20] #1338 closed

[2019-11-26 11:35] mr-c opened #1381 "Build fails on Raspberry PI architectures (armel, armhf, and arm64)"
Since Raspberry PI is popular in classrooms and with technology enthusiasts, it would be nice if Seqan3 worked there as well.

- [x] non-x86 systems do not have `xmmintrin.h` which is a mandatory include in`/include/seqan3/core/parallel/detail/spin_delay.hpp` Needs to be made conditional and a non-SSE spin lock added for armel armhf arm64. Fix at https://github.com/seqan/seqan3/pull/1382

- [x]  `

[2019-11-26 11:43] eseiler commented on #1381
* `xmmintrin.h` is also missing on ppcle and the main reason the nightlies fail (https://cdash.seqan.de/index.php?project=SeqAn3)

* We should probably replace the `int8_t` with char as in https://github.com/seqan/seqan3/pull/1157

* I would rather add nightlies than CI since CI already takes forever, but this would require us to have hardware somewhere. Or can travis do nightlies too?

[2019-11-26 11:47] mr-c commented on #1381
@eseiler Yep, Travis CI can do nightlies: https://docs.travis-ci.com/user/cron-jobs/

For ppc, I can add the following to my other PR:

[code]

[2019-11-26 14:06] mr-c opened #1383 "add an EditorConfig for code formatting"
https://editorconfig.org/

[2019-11-27 12:59] marehr commented on #1383
This seems to be a subset of what you can specify in clang-format, which is currently on hold because of missing concept support (see https://github.com/seqan/seqan3/projects/22#card-27117674), and I think it would be a good addition.

If you want to provide a PR, I would review it.

[2019-11-27 13:41] mr-c commented on #1383
Thanks @marehr , I opened a PR at https://github.com/seqan/seqan3/pull/1384

[2019-11-29 07:26] mr-c opened #1387 "Need documentation for creating "seqan-VERSION-with-submodules.tar.gz""
Is there a release checklist/script?

[2019-11-29 07:42] mr-c commented on #1387
Here is what I did:

[code]

[2019-11-29 12:53] mr-c opened #1391 "Consider using https://github.com/nemequ/simde/ for cross CPU SIMD"
"SIMD Everywhere" is a MIT licensed header-only library that makes it easier to use SIMD instructions across CPU types.

They have most, but not all, of the instructions used in the development branch of seqan3.

Adding new types is not hard, but a bit boring.

https://github.com/nemequ/simde/wiki/Implementing-a-New-Function

Even I was able to add some :-) https://github.com/nemequ/simde/pull/49

[2019-11-29 12:55] mr-c commented on #1391
The big win is that they have NEON or assembly free fallbacks for basically all of SSE1-4.2, AVX, and some of AVX2. They don't yet have AVX-512 instructions yet, but that would be straightforward to add

[2019-11-29 14:34] rrahn commented on #1195
@eldariont can you again give me the bam file. I finally looking into it. Sorry for the long delay.

[2019-11-29 18:07] marehr commented on #1391
Thank you for this idea. This would not be the "eierlegende Wollmilchsau" (all-in-one solution), but might be a great idea to make some of the problems with simd work in some settings that would require more work otherwise.

[2019-11-29 18:40] rrahn commented on #1391
That's a great hint indeed. We should also keep in mind that the standard wants to add a simd type based on VC library IRCC. While in general it would be possible to allow any simd backend, we need to choose carefully what we want to support in seqan from a maintenance perspective.

[2019-11-29 23:43] AdrianBunk commented on #1381
The Alphabet size problem looks similar to #1365, and all 32bit builds seem to run into it such kind of problems.

[2019-11-30 16:07] rrahn commented on #1195
Ok, I cannot validate the issue anymore. Note, that in the meantime we already fixed the issue of loading the first record on initialisation of the file. Thus, with the first call of begin the first record is being fetched and not on construction of the file. Can you verify that this issue is also fixed for your case?

[2019-11-30 16:58] marehr commented on #1195
That means if you change the program to:

[code]

This might be still a problem?

[2019-12-02 11:48] joergi-w opened #1392 "[Structure IO] Format Vienna Benchmark"
**Level 1 - Easy**

- [x] reading from stream
- [x] reading from file

See format_fasta_benchmark.cpp as a reference.

[2019-12-02 12:38] eldariont commented on #1195
@rrahn Sorry for the long delay. In case you still need the bam file: https://ws.molgen.mpg.de/ws/921352/test.bam

[2019-12-02 12:55] eldariont commented on #1195
@marehr Yes, I can still run into exactly the same behavior if I call `begin()` after initializing the files.

- loading only the alignment file takes <0.1s
- loading only the sequence file takes ~30s, 100% CPU load
- loading both files regardless of their order takes ~47s, 800% CPU load

[2019-12-02 13:21] rrahn commented on #1195
Ok thanks. I am looking into it then. With another bam file I couldn’t reproduce this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-03 14:38] rrahn commented on #1195
Mhmm, ok I really can't reproduce this. Neither on macOS nor on linux.
I've compiled in release and debug mode. And I couldn't spot any difference (except of course longer running times, but they were also coherent).

### fasta then bam
[code]
### bam then fasta

[code]

### only fasta

[code]

### only bam
[code]

[2019-12-04 07:36] #1372 closed

[2019-12-04 13:44] joergi-w opened #1397 "[Structure IO] Remove file column interface"
**Level 1 - Easy**

We expose a broken file column interface for our files. Read the documentation of `structure_file_input` to get to know the interface.

- [x] Remove all tests for the column interface (usually have `column` in their test name)
- [x] Remove the `Tuple interface` from the `sequence_file_input` object (all get functions)
- [x] Remove the `file_as_tuple_type columns_buffer;`
- [x]

[2019-12-04 17:17] #1374 closed

[2019-12-05 05:53] #1375 closed

[2019-12-05 08:48] rrahn opened #1399 "[IO] Remove the char_type template parameter"
**Level 1 - Intermediate**

Files are not properly tested with other stream_char_types than `char`. Formats currently assume that the stream_char_type is at least convertible to/from `char`, but some things are definitely broken when the type is not `char`.

Remove the ability to specify a stream char type other than char.

- [ ] Adapt tests
- [ ] Remove char_type template arguments from all input

[2019-12-06 14:02] #1397 closed

[2019-12-06 14:14] #1383 closed

[2019-12-06 14:15] #1292 closed

[2019-12-09 12:53] #1300 closed

[2019-12-09 14:53] #1392 closed

[2019-12-09 16:10] joergi-w opened #1411 "[Sequence IO] Remove file column interface"
**Level 1 - Easy**

We expose a broken file column interface for our files. Read the documentation of `sequence_file_input` to get to know the interface.

- [ ] Remove all tests for the column interface (usually have `column` in their test name)
- [ ] Remove the `Tuple interface` from the `sequence_file_input` object (all get functions)
- [ ] Remove the `file_as_tuple_type columns_buffer;`
- [ ] R

[2019-12-09 23:06] eseiler commented on #1220
Mitigated by #1310

[2019-12-09 23:06] #1220 closed

[2019-12-10 11:33] #1345 closed

[2019-12-10 11:46] smehringer commented on #1345
@ppericard You can check out the new master branch and test if the feature works for you. Our documentation will probably be up to date tomorrow.

[2019-12-10 19:01] eseiler opened #1414 "[Alignment IO] reading hexadecimal SAM tags part 1"
**Level 1 - Easy**

The sam_tag_dictionary `sam_tag_dictionary.hpp` does not support the tag type `hexadecimal array` (`H`). See the [SAM specifications](https://samtools.github.io/hts-specs/SAMv1.pdf) for how hexadecimal arrays look like.

- [x] After reading the SAM specifications, come up with an appropriate data type to store an hexidecimal array in c++ and talk to Svenja about it.
- [x] Add `

[2019-12-10 20:24] eseiler opened #1416 "[Alignment IO] reading hexadecimal SAM tags part 2"
**Level 2 - Intermediate**

In the SAM format `format_sam.hpp` in line 983 there is Todo.
Case `H` which indicates that a sam tag of type `hexadecimal array` cannot be read yet. See the [SAM specifications](https://samtools.github.io/hts-specs/SAMv1.pdf) for how hexadecimal arrays look like and implement reading them.

- [x] reading of hexadecimal sam tags
- [x] Add tests

[2019-12-10 21:36] rrahn opened #1418 "[Sequence IO] BAM support"
**Level 1 - Easy**

Provide a `read_sequence_record` and `write_sequence_record` in the BAM format (very similar to `format_sam.hpp`).

[2019-12-12 08:10] smehringer opened #1422 "[IO] Change record `seqan3::field`s to lower case"
**Level 1 - Easy**

All enum values should have lower case letters and the record struct emulates an enum.

- [x] Change the field tags to lower case everywhere
- [x] Check other occurences of upper case enums in the library and make a todo in the corresponding project

[2019-12-12 12:43] smehringer commented on #1195
I do not know what you are testing. But I can still reproduce this.
[code]
...

[2019-12-12 13:49] h-2 opened #1423 "debug_stream needs to include <iostream> not just forwards"
Otherwise you get crashes when trying to print something.

[2019-12-12 14:15] eseiler commented on #1423
This line here?

https://github.com/seqan/seqan3/blob/59844323c54121052a686dfe0d6cd7e95b21b8f4/include/seqan3/core/detail/debug_stream_type.hpp#L15

I can probably combine this with revising the \brief of the debug stream files.

[2019-12-12 15:31] h-2 commented on #1423
No, it is important that `debug_stream_type.hpp` only include `<iosfwd>`, so that our library headers that include this don't pull in iostream. But `debug_stream.hpp`, the header offered to users and test should include full `<iostream>`.

[2019-12-13 20:54] #1399 closed

[2019-12-15 13:53] #1351 closed

[2019-12-15 22:41] marehr commented on #1423
Just to clarify: It crashes if you don't include `<iostream>`, right?

[2019-12-17 09:36] smehringer opened #1432 "Rename fm_index members `char` to `alphabet`"
, i.e. index_char_type -> index_alphabet_type

- [x] rename
- [x] run tests
- [ ] other naming issues?
- [x] check documentation (API, tutorials)

[2019-12-17 10:43] eseiler opened #1434 "[Search] `search()` should always return a range of `search_result`"
**Level 1 - Easy**

A call to `search()` should return a `search_result` for each hit. It contains:
* iterator
* sequence (if requested)
* position (if requested)
* errors (ins, del, sub)
* query_id

- [x]  Create `search_result`
- [x]  Return `search_result` in search/algorithm/detail/search.hpp:126
- [ ] test search result
- [ ] document the search result
- [ ] adapt tutorial if applicable

[2019-12-17 10:53] #1422 closed

[2019-12-17 10:54] rrahn opened #1435 "[Search] `search()` should lazily generate results"
**Level 1 - Easy**

Make `search()` return a range where:
* `operator++` may fetch new results
* `operator*` returns the cached result
* `begin()` fetches result if there is none

See alignment code: https://github.com/seqan/seqan3/blob/master/include/seqan3/alignment/pairwise/alignment_range.hpp
Depends on `search_result` task

- [ ]  Implement the range that models input_range_concept
- [ ] add

[2019-12-17 10:54] rrahn opened #1436 "Make `mode()` a runtime decision"
(user feedback)

Make it a hybrid configuration, i.e. it can be either set at runtime or at compile time if known already.
See https://github.com/seqan/seqan3/blob/master/include/seqan3/alignment/configuration/align_config_aligned_ends.hpp as a reference to implement both using almost the same interface.
Make the configuration options enums and then in addition define integral_constant values from

[2019-12-17 10:55] smehringer opened #1437 "[Search] Add global parallel config to search interface"
**Level 1 - Easy**

Similar to the debug config, the parallel config can be use for both alignments and search and possibly more. So it makes sense to make it a global config and make the algorithm specific implementations in the respective namespaces.

- [x]  Make a global parallel configuration that get's as template parameter a intergral_constant with the respective algorithm id type and id.
-

[2019-12-17 13:52] #1364 closed

[2019-12-17 13:52] #1344 closed

[2019-12-17 13:59] smehringer opened #1439 "[Search] Move configuration parameters out of `search_cfg` namespace"
**Level 1 - Easy**

All configuration parameters, should be in the `seqan3` namespace. For an example see `best` in `align_config_mode.hpp`

- [x] Move elements to `seqan3` namespace
- [x] Adapt tests and documentation

[2019-12-19 09:31] #1411 closed

[2019-12-19 10:33] Irallia opened #1442 "[DOC] Remove 'using namespace seqan3' from documentation"
Remove 'using namespace seqan3' from documentation:
- [x] from 'Setup'
- [x] from 'How-To'
Additionally:
- [x] replace std::endl with ‘\n‘.

[2019-12-19 13:51] rrahn opened #1443 "Vectorised global alignment with different length"
compute the alignment score for global alignment with sequences of different length in the simd batch

[2019-12-20 10:01] #1432 closed

[2019-12-21 12:48] h-2 commented on #1423
Yep, because you `externed` things the compiler will not give an error, but instead the application will crash.

[2019-12-25 23:55] h-2 opened #1452 "uppercase field IDs are broken not deprecated"
While keeping and deprecating the values might have been well-intended, it doesn't work anyway because the files complain that they don't know the values...

We are seriously breaking everything anyway, we might as well remove the uppercase version directly.

[2019-12-30 21:20] h-2 opened #1456 "build failure on simple BAM i/O"
The following program fails to build with some errors in debug_stream.

[code]

Adding `#include <sstream>` fixes it. Possibly related to #1423

[2019-12-30 22:26] h-2 opened #1457 "Exception on opening example bam file"
This file:
https://figshare.com/articles/Example_BAM_file/1460736

triggers:
[code]

According to samtools view, the entire header is:
[code]

And according to the SAM spec this is very valid, it gives the following example itself: `@SQ SN:ref LN:45`...

[2019-12-30 22:50] h-2 commented on #1457
The problem is that our I/O always expects a "@HD line" but this isn't always present. SeqAn2 and samtools don't complain about this. The spec says:

So it's only optional.

[2020-01-01 23:26] h-2 commented on #1434
I would propose the following:
[code]

Positions are computed unless the user specifies `seqan3::search_cfg::result{seqan3::search_cfg::without_positions}`.
Is it correct to assume that the error can be counted for free? Otherwise we need an option for them, too.

For the subject_subrange we can can return `views::slice` when the text is provided and the positions are computed. Otherwise, we could

[2020-01-02 16:19] h-2 opened #1458 "Design of error configurations"
This didn't fit into a card, so I'll post it here. The following is really overly verbose:
[code]

And the implementation of the config also has it's complexity with being agnostic of the order of parameter...

I would instead propose the following:

[code]

Designated initialisers actually work since GCC8 so most of our users will be able to use the very simple style. Even on GCC7 the style above

[2020-01-02 16:50] h-2 commented on #1436
I think I figured out a way we can have nice hybrid options. Have a look at this:

[code]

`dyna` is a dynamic config, but `stati` is not a static config, it's a function pointer. To make this work the `operator|` that is defined for the config elements would have to get an overload that takes functions pointers of functions whose return type is a specialisation of a static conf. It would then for

[2020-01-02 17:03] h-2 commented on #1436
BTW: for the problem at hand an enum cannot be used, because `strata` is a valid mode and that needs an argument . I would propose something like this:

[code]
`int32_t` can be replaced with a (non-public) strong type.

[2020-01-02 18:00] h-2 opened #1459 "Design thoughts on algorithm configuration"
Here are my 2¢:

  * Use function / function ptr syntax for hybrid options so `mode<a::b>` can be used as well as `mode(a::b)`.  Also for `align_cfg::band`. See #1436
  * Things that are free to compute should not be configurable at all, e.g. score in alignment, index_cursor in search.
  * Avoid defining so many custom types for the arguments. `seqan3::search_cfg::foo{seqan3::search_cfg::bar}` is

[2020-01-02 20:09] h-2 commented on #1459
Based on these design considerations and if we actual manage to avoid most parameter types, I am ok with putting those few parameter types into `seqan3::` and not the config namespace (because they are not config elements!).

[2020-01-06 08:07] smehringer commented on #1452
I know but the error message is nicer that way because it first warns you that it is deprecated and can be simply replaced by the lowercase version...
Since this is a feature that is probably used already, I would favour the depreciation anyway.

[2020-01-06 08:10] smehringer commented on #1457
Damn. I really thought the header line is required :expressionless:

[2020-01-06 08:47] smehringer commented on #1458
I agree that we are missing a clear separation of config elements and config element arguments.
But your solution is what we wanted to avoid in the first place because
[code]
is error prone without strong types. and with strong types it will be just as verbose :(
I don't know if we need to discuss this again since we already had a lengthy discussion about the namespace that was related to this.

[2020-01-06 09:48] rrahn commented on #1458
There is another problem to that. Not all configuration elements are at the moment aggregates and thus there would be inconsistencies in the usage. Changing, if possible, this needs some more design discussions.

[2020-01-06 12:20] #1437 closed

[2020-01-07 12:36] Irallia opened #1464 "[DOC] Remove 'using namespace seqan3' from test/performance/range"
Remove 'using namespace seqan3' from
- [x] test/performance/range

[2020-01-07 12:37] Irallia opened #1465 "[DOC] Remove 'using namespace seqan3' from test/performance/* without range"
Remove 'using namespace seqan3' from
- [x] test/performance/a*
- [x] test/performance/core/
- [x] test/performance/io/
- [x] test/performance/search/

[2020-01-07 12:39] Irallia opened #1466 "[DOC] Remove 'using namespace seqan3' from test/snippet"
Remove 'using namespace seqan3' from
- [x] test/snippet/

Additionally
- [x] replace std::endl with ‘\n‘.

[2020-01-07 14:18] #585 closed

[2020-01-09 07:37] #1442 closed

[2020-01-09 12:02] #1443 closed

[2020-01-09 17:16] h-2 opened #1473 "extend_right/left() needs `char const *` overload."
`extend_right()` in the index module does not handle null-terminated strings properly:

[code]
Outputs no results, but wrapping `"wood"` into `std::string` produces correct behaviour.

[2020-01-10 10:07] #1116 closed

[2020-01-11 12:16] mr-c opened #1479 "build fails: latest seqan3 dev + rangv3 0.10 on Debian dev"
## Platform

  - SeqAn version:
Using https://github.com/seqan/seqan3/commit/b42671eac39ba0b47c054c4e9767268840dbbdca and range-v3 0.10.0-1
  - Operating system: `Linux mrc-tux 5.3.0-26-generic #28-Ubuntu SMP Wed Dec 18 05:37:46 UTC 2019 x86_64 GNU/Linux`

  - Compiler: `c++ (Debian 9.2.1-22) 9.2.1 20200104`

## Description

### How to repeat the problem

I can provide a Dockerfile, if needed

###

[2020-01-11 13:32] marehr commented on #1479
Will be fixed with #1471

[2020-01-11 15:40] mr-c commented on #1479
@marehr I can confirm, thanks! I thought the [other commit](https://github.com/seqan/seqan3/pull/1471/commits/dac26d5610b4478176e250eafb4181f1f1f202e4) wasn't needed; pardon the noise.

[2020-01-11 15:40] #1479 closed

[2020-01-13 10:26] smehringer commented on #1112
Resolution:
We want one slice struct with four members (aligned_region.first_begin_position, ...)

[2020-01-14 07:49] mr-c commented on #1365
From @marehr "we don't support 32 bit systems [yet]"

#1481 has been opened to document this

[2020-01-14 07:49] #1365 closed

[2020-01-14 07:50] mr-c commented on #1381
I can confirm that the latest developer branch builds on arm64. As 32 bit systems are explicitly not supported at this time I'm closing this issue.

[2020-01-14 07:50] #1381 closed

[2020-01-14 08:02] mr-c opened #1482 "Infra: Enable arm64 CI builds"
Now that arm64 is working, lets enable CI for it as well: https://docs.travis-ci.com/user/multi-cpu-architectures/

This can also be used for ppc64le & s390x

[2020-01-14 10:34] #1457 closed

[2020-01-14 10:49] #1452 closed

[2020-01-17 14:48] Irallia opened #1499 "Warnings with Doxygen Version 1.8.17"
2 types of warnings:
- warning: argument 'alph' of command @param is not found in the argument list of ...
- warning: Member eback(T... args) (function) of class ... is not documented.

Full list of warnings:
.../seqan3/include/seqan3/alphabet/composite/alphabet_tuple_base.hpp:392: warning: argument 'alph' of command @param is not found in the argument list of seqan3::structured_aa< sequence_alpha

[2020-01-17 22:15] marehr opened #1502 "gcc-10 -std=c++17 support"
Keeps track of all changes for gcc10

Bugfixes:
* [x] [MISC] prepare span header for gcc10 (#1478)
* [x] [MISC] scoring scheme: concept template paramater can't be constrained (#1539)
* [x] [FIX] trace_iterator_base: use same constraints (#1538)
* [x] [FIX] alignment matrix tests (#1537)
* [x] [MISC] remove restraints on comparison operators of small string (#1536)
* [x] [FIX] enums shouldn't be u

[2020-01-20 14:44] marehr opened #1505 "Get rid of trailing white-spaces"
We have some places with trailing white-spaces (found by #1503):

* [x] https://github.com/seqan/seqan3/blob/6391aaa014db4d04b8220a2041014295c4134f33/include/seqan3/alignment/scoring/all.hpp#L18
* [x] https://github.com/seqan/seqan3/blob/6391aaa014db4d04b8220a2041014295c4134f33/test/unit/search/search_scheme_algorithm_test.cpp#L137
* [x] https://github.com/seqan/seqan3/blob/6391aaa014db4d04b8220a2

[2020-01-21 12:11] smehringer opened #1509 "3.0.1 Release"
- [x] Check [Nightlies](http://cdash.seqan.de/index.php?project=SeqAn3) for critical build failures.
- [x] Check Changelog.md for completeness (#1493).
- [x] Update the index from cppreferences.com so that up-to-date documentation links are generated (#1511).
- [x] Prepare `seqan-[VERSION]-with-submodules.tar.gz`.
- [x] Add 3.0.0 documentation build on docs.seqan.de (has been missing so far).
- [x

[2020-01-21 14:05] eseiler opened #1512 "safe_filesystem_entry_test may fail on Jenkins"
The `test/unit/io/detail/safe_filesystem_entry_test.cpp` test may fail on Jenkins, because it uses `std::filesystem::temp_directory_path()` instead of `seqan3::test::tmp_filename`. Jenkins executes the individual tests in the test file in parallel and it may happen that one tests checks for the non-existence of the temporary file while another test already created the temporary file which results

[2020-01-21 17:11] Irallia opened #1514 "[DOC] Remove 'using namespace seqan3' from test/unit/argument_parser"
Remove 'using namespace seqan3' from
- [x] test/unit/argument_parser

Additionally
- [x] replace std::endl with ‘\n‘.

[2020-01-22 09:10] h-2 commented on #1509
See also https://github.com/seqan/seqan/wiki/Release-Checklist

[2020-01-22 13:47] marehr opened #1516 "alignment code not working on pairs"
[code]

Does not compile:

[code]

I guess that the main problem here is that `std::pair::first` ( `std::vector<dna4>`) is not a viewable_range, because it is not of type  `std::vector<dna4> &`.

[2020-01-22 15:51] #1512 closed

[2020-01-22 22:44] marehr opened #1518 "Some alphabets do not compile with seqan3::writable_alphabet concept"
Some `alphabet` that models `seqan3::alphabet` can't be tested with `seqan3::writable_alphabet`.

Example:

[code]

Error:

[code]

[2020-01-23 12:15] #1465 closed

[2020-01-23 13:03] smehringer commented on #1509
:D The only thing left to do is to refurbish the release check list a little

[2020-01-23 13:03] #1509 closed

[2020-01-23 13:04] smehringer commented on #1505
@simonsasse Can you look into this? If you have any questions you can ask me or @marehr

[2020-01-23 14:04] h-2 opened #1520 "views::translate_join | views::deep{std::views::reverse} causes ICE"
[ see #1519 for code example]

This small test case leads to a very complex build failure on GCC7 and to an ICE on GCC9.

It is triggered e.g. when wanting to create a bidirectional index using views::translate_join which is arguably a very useful use-case.

I have spent several hours trying to get to the bottom of this, but was not successfull. I recommend opening an issue with GCC.

Here are my

[2020-01-23 15:57] mr-c opened #1521 "can't run the v3.0.1 tests against an installed copy of seqan"
## Platform

  - SeqAn version: 3.0.1
  - Operating system: Linux mrc-tux 5.3.0-26-generic #28-Ubuntu SMP Wed Dec 18 05:37:46 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
  - Compiler: g++ (Debian 9.2.1-23) 9.2.1 20200110

## Description

### How to repeat the problem

Build and install the libseqan3-dev version 3.0.1 Debian package
and run this script: https://salsa.debian.org/med-team/seqan3/blob/mas

[2020-01-23 16:02] mr-c commented on #1521
I'm guessing `SEQAN3_CLONE_DIR-NOTFOUND` is the issue

[2020-01-23 16:09] marehr commented on #1521
To build our test we need additional header files that are only used for tests.

You somehow miss an include to <code>[seqan3/test/include/](https://github.com/seqan/seqan3/tree/master/test/include)</code>.

[2020-01-23 16:22] mr-c commented on #1521
Yep, cmake didn't find it, so we ended up with `-I/tmp/autopkgtest.ZZbmhm/autopkgtest_tmp/unit/SEQAN3_CLONE_DIR-NOTFOUND/test/include ` instead

[2020-01-23 16:22] mr-c commented on #1521
I'm trying out https://github.com/seqan/seqan3/pull/1386 again

[2020-01-23 18:55] marehr commented on #1521
Yes, I thought this change was already merged. I think with that patch it should work again.

[2020-01-24 09:32] rrahn commented on #1516
It is actually not a bug but a feature. So the documentation and the tutorials explicitly refer to this by saying one needs to use `std::tie` instead. Or the pair has to be converted to a single range before. The point is that we use internally a single range to wrap the pair. But that will copy the sequences and thus we cannot return an alignment that holds references to these temporaries.

Alter

[2020-01-24 10:30] marehr commented on #1516
I can't follow you, the sequences are given as lvalue, they outlive the call, why should I call persist?

[2020-01-24 10:32] rrahn commented on #1516
Inside of the function were we get the pair we call `views::single(pair)` and forward this to the alignment. This works only if the pair type stores viewable_ranges, which is in not the case in your example

[2020-01-24 10:35] marehr commented on #1516
See https://docs.seqan.de/seqan/3-master-dev/group__pairwise__alignment.html#gab6ff083328a700c26c90fea870d63491

in that documentation there is an example:
[code]

This example shows two things, first you thought that this should work and second we still have code snippets that re not tested :speak_no_evil:.

Yeah, in this case, because the tuple / pair is lvalue you can make the underlying sequen

[2020-01-24 10:40] rrahn commented on #1516
If you would read the documentation carefully you could see that it explicitly describes that this would not compile.

To other point it would be sufficient to not use heap memory indeed:
[code]
So that could work. Still it is not a defect because it is a forbidden interface. It is a feature to allow it.

[2020-01-24 10:42] marehr commented on #1516
Why is your first example an anti-example? As a keyword reader this is completely unexpected, there should be a fat headline that says, examples that **don't** work.

[2020-01-24 10:47] rrahn commented on #1516
Well, improvements are welcome any time.

[2020-01-24 10:55] marehr opened #1522 "Alignment landing page should show code example per Headline"
The current documentation (as a reference) is: https://docs.seqan.de/seqan/3-master-dev/group__pairwise__alignment.html#gab6ff083328a700c26c90fea870d63491

----

In this section there should be an example for computing alignments with a single pair of sequences:

https://github.com/seqan/seqan3/blob/b0b279689fa65c2431a5162f2d8acc3ca663f72d/include/seqan3/alignment/pairwise/align_pairwise.hpp#L56-L

[2020-01-24 10:55] marehr commented on #1516
Created an issue #1522 for the documentation

[2020-01-24 12:25] mr-c opened #1524 "arm64 post-installation test failure: aligned_allocator.in_list"
## Platform

  - SeqAn version: 3.0.1+ds-1
  - Operating system: Linux 4.9.0-8-arm64 #1 SMP Debian 4.9.144-3.1 (2019-02-19)
  - Compiler: 9.2.1-22

## Description

Tests pass

### How to repeat the problem

[code]

### Expected behaviour

### Actual behaviour

[code]
https://ci.debian.net/data/autopkgtest/testing/arm64/s/seqan3/4091766/log.gz

Note: the tests did pass during compilation (!!) https

[2020-01-24 12:31] mr-c commented on #1524
The complitation command during the build:
`[356/502] /usr/bin/ccache /usr/bin/c++  -DSEQAN3_HAS_BZIP2=1 -DSEQAN3_HAS_ZLIB=1 -Ivendor/googletest/googletest/include -I/<<PKGBUILDDIR>>/test/include -I/<<PKGBUILDDIR>>/include -isystem /<<PKGBUILDDIR>>/submodules/sdsl-lite/include -g -O2 -fdebug-prefix-map=/<<PKGBUILDDIR>>=. -fstack-protector-strong -Wformat -Werror=format-security -fuse-ld=gold -DNDE

[2020-01-24 13:21] mr-c commented on #1524
Okay, working with an arm64 virtual machine, it looks like `-fstack-protector-strong` is the difference between the test failing or passing

Emit extra code to check for buffer overflows, such as stack smashing attacks.  This is done by adding a guard variable to functions with vulnerable objects.  This includes functions that call "alloca", and functions with buffers larger than 8 bytes.  The gua

[2020-01-24 13:29] marehr commented on #1524
Interesting. So during build there was hardening, but not during tests.

[2020-01-24 13:39] mr-c commented on #1524
@marehr Yeah, `-fstack-protector-strong` causes the test to pass, otherwise it fails on arm64

[2020-01-24 13:42] marehr commented on #1524
Sound like [undefined behaviour](https://raphlinus.github.io/programming/rust/2018/08/17/undefined-behavior.html) :frowning:

[2020-01-24 13:43] marehr commented on #1524
@mr-c Do you have an emulator setup where you could reproduce that?

[2020-01-24 13:53] mr-c commented on #1524
@marehr Yes, I've been running tests using qemu

[2020-01-24 23:06] marehr commented on #1520
One reduced test case is:

[code]
This one is fixed in gcc-10, and only ices in gcc9 and works in gcc 7 and 8.

[2020-01-24 23:30] marehr commented on #1520
I guess it is this bug report: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=93345

[2020-01-24 23:40] marehr opened #1527 "Platform: PowerPC should compile and run all tests."
Platform: PowerPC should compile and run all tests. Performance is not guaranteed to be stable or same as on AMD/Intel architectures

This was a card in https://github.com/seqan/seqan3/projects/23